
/* #create_post_input{

} */

#primary_logo{
  color: #002a5c;
}

#main_menu .item:hover{
  color: #002a5c;
}

#main_menu .active{
  color: #002a5c;
}

#use_case_list li{
  line-height: 1.3em; 
  font-size: 14.5px;
}


#profile_image_placeholder:hover{
  cursor: pointer;
}
/* .pointer {} */


