{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>{% block title %} Rooms {% endblock %}</title>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">

    <!-- <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Playball&family=Raleway+Dots&family=Sail&family=Seaweed+Script&display=swap" rel="stylesheet"> -->

    <!-- Select2 Scripts -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

  </head>

  
  <body>
    
    <!-- {% comment %}
    {% endcomment %} -->

    {% include 'navbar.html' %}

    {% block content %}
    {% endblock %}


    <script>

      var current_url = '{{ request.path }}'

      if ( (current_url).includes("feed") ){

        $('#feed_item').addClass('active')
        $('#feed_item').siblings().removeClass('active');

      } else if ( (current_url).includes("browse") ){
        
        $('#browse_item').addClass('active')
        $('#browse_item').siblings().removeClass('active');

      } else if ( (current_url).includes("profile") ){
        
        $('#my_profile_item').addClass('active')
        $('#my_profile_item').siblings().removeClass('active');

      } else if ( (current_url).includes("faq") ){
        
        $('#faq_item').addClass('active')
        $('#faq_item').siblings().removeClass('active');

      }


    </script>

  </body>




</html>
