{% extends 'base.html' %}
{% load static %}


{% block content %}

  <div class="ui grid" style="padding-left: 8.5em; margin-top: 1.5em;">

    <div class="four wide column" style="margin-top: 1em;">


      <div class="container">

        <!-- <div class="mySlides">
          <div class="numbertext">1 / 5</div>
          <a href="http://127.0.0.1:9000/static/sample_images/image_3.jpeg" target="_blank">
            <img src="{% static 'sample_images/image_3.jpeg' %}" width="100%" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
          </a>
        </div> -->

        
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

      </div>
      

      <input id="profile_image_upload" type="file" id="file" name="file" accept="image/*" style="display:none" multiple />
      <label for='profile_image_upload' id="main_profile_image_upload">
        <img id="profile_image_placeholder" src="{% static 'sample_images/image_placeholder_two.png' %}" width="280px" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
      </label>


      <!-- <div class="container">

        <div class="mySlides">
          <div class="numbertext">1 / 5</div>
          <a href="http://127.0.0.1:9000/static/sample_images/image_3.jpeg" target="_blank">
            <img src="{% static 'sample_images/image_3.jpeg' %}" width="100%" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
          </a>
        </div>

        <div class="mySlides">
          <div class="numbertext">2 / 5</div>
          <img src="{% static 'sample_images/image_4.jpeg' %}" width="100%" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
        </div>

        <div class="mySlides">
          <div class="numbertext">3 / 5</div>
          <img src="{% static 'sample_images/image_6.jpeg' %}" width="100%" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
        </div>

        <div class="mySlides">
          <div class="numbertext">4 / 5</div>
          <img src="{% static 'sample_images/image_7.jpeg' %}" width="100%" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
        </div>

        <div class="mySlides">
          <div class="numbertext"> 5 / 5</div>
          <img src="{% static 'sample_images/image_8.jpeg' %}" width="100%" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
        </div>

        <div class="mySlides">
          <div class="numbertext"> 5 / 5</div>
          <img src="{% static 'sample_images/image_1.jpeg' %}" width="100%" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
        </div>

        <div class="mySlides">
          <div class="numbertext"> 5 / 5</div>
          <img src="{% static 'sample_images/image_2.jpeg' %}" width="100%" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
        </div>

        <div class="mySlides">
          <div class="numbertext"> 5 / 5</div>
          <img src="{% static 'sample_images/image_5.jpeg' %}" width="100%" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
        </div>

        <div class="mySlides">
          <div class="numbertext"> 5 / 5</div>
          <img src="{% static 'sample_images/image_six.jpeg' %}" width="100%" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
        </div>

        <div class="mySlides">
          <div class="numbertext"> 5 / 5</div>
          <img src="{% static 'sample_images/image_three.jpeg' %}" width="100%" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
        </div>

        <div class="mySlides">
          <div class="numbertext"> 5 / 5</div>
          <img src="{% static 'sample_images/image_seven.webp' %}" width="100%" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
        </div>

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

      </div> -->


      <div class="ui horizontal divider">
        <i class="pencil alternate icon"></i> Courses This Year
      </div>

      <div class="ui form">
                
        <label style="font-size: 14.5px;">
          <strong>
            Add your courses:
          </strong>
        </label>
        <div class="ui fluid multiple search selection dropdown" style="width: 20em;">
          <input type="hidden" name="country">                
          <i class="dropdown icon"></i>
          <div class="default text">so you can find some study buddies</div>
          <!-- <div class="default text">so you can find some <s>cute g</s> study buddies... </div> -->
          <div class="menu">
            <div class="item" data-value="af"><i class="af flag"></i>Afghanistan</div>
            <div class="item" data-value="ax"><i class="ax flag"></i>Aland Islands</div>
            <div class="item" data-value="al"><i class="al flag"></i>Albania</div>
            <div class="item" data-value="dz"><i class="dz flag"></i>Algeria</div>
            <div class="item" data-value="af"><i class="af flag"></i>Afghanistan</div>
            <div class="item" data-value="ax"><i class="ax flag"></i>Aland Islands</div>
            <div class="item" data-value="al"><i class="al flag"></i>Albania</div>
            <div class="item" data-value="dz"><i class="dz flag"></i>Algeria</div>
            <div class="item" data-value="af"><i class="af flag"></i>Afghanistan</div>
            <div class="item" data-value="ax"><i class="ax flag"></i>Aland Islands</div>
            <div class="item" data-value="al"><i class="al flag"></i>Albania</div>
            <div class="item" data-value="dz"><i class="dz flag"></i>Algeria</div>
          </div>
        </div>
        &nbsp;
        <i class="eye icon" style="font-size: 14px;"></i> <span style="font-size: 13px; ">(visible to everyone)</span>

      </div>

    </div>

    <div class="ten wide column" style="padding-left: 3em;">
      
      <div>

        <h2 class="ui header" style="display: inline-block; font-size: 27px;">
          Kevin Duport 
          <!-- <div class="ui teal horizontal label">Current Student</div>           -->
        </h2>

        <div class="ui inverted blue vertical animated button" tabindex="0" style="float: right;">
          <div class="hidden content"><i class="hand point right outline icon"></i></div>
          <div class="visible content">
            Save Changes
          </div>
        </div>

        
        <div class="ui form">

          <div class="inline fields">

            <!-- TODO: on gender, for other, have small-textinput appear for user to write their gender -->
            <div class="field">
              <label style="font-size: 14.5px;">Gender:</label>
              <div class="ui selection dropdown" >
                  <input type="hidden" name="gender">
                  <i class="dropdown icon"></i>
                  <div class="default text"></div>
                  <div class="menu">
                      <div class="item" data-value="undergrad_student">Male</div>
                      <div class="item" data-value="grad_student">Female</div>
                      <div class="item" data-value="grad_student">Prefer Not to Say</div>
                      <div class="item" data-value="alumni">Other (with custom input)</div>
                  </div>
              </div>
            </div>

  
          </div>

        </div>


        <div class="ui horizontal divider" >
          <i class="user icon"></i> Socials
        </div>

        <div class="ui form">

          <div class="inline fields">
            <div class="field">
              <i class="instagram icon" style="font-size: 16px;"></i>
              <input type="text" name="instagram-id" placeholder="for the follower count">
            </div>
            <i class="eye icon" style="font-size: 14px;"></i> <span style="font-size: 13px; padding-top: 3px;">(visible to everyone)</span>
          </div>
  
          <div class="inline fields">
            <div class="field">
              <i class="snapchat ghost icon" style="font-size: 16px;"></i>
              <input type="text" name="snapchat-id" placeholder="shh...">
            </div>
            <i class="eye slash icon" style="font-size: 14px;"></i> <span style="font-size: 13px; padding-top: 3px;">(visible only upon your approval)</span>
          </div>

          <div class="inline fields">
            <div class="field">
              <img src="{% static 'sample_images/tik-tok.png' %}">
              &nbsp;
              <input type="text" name="snapchat-id" placeholder="grow up...">
            </div>
            <i class="eye icon" style="font-size: 14px;"></i> <span style="font-size: 13px; padding-top: 3px;">(visible to everyone)</span>
          </div>

          <div class="inline fields">
            <div class="field">
              <img src="{% static 'sample_images/vsco_new.png' %}" style="width: 17px;">
              &nbsp;
              <input type="text" name="snapchat-id" placeholder="a vsco girl, huh?">
            </div>
            <i class="eye icon" style="font-size: 14px;"></i> <span style="font-size: 13px; padding-top: 3px;">(visible to everyone)</span>
          </div>
          
        </div>

      </div>

      <!-- <div>
        <span style="font-size: 14.5px;">
          <i class="instagram icon" style="font-size: 16px;"></i>
          <a href="">kduport24</a>
        </span>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span style="font-size: 14.5px;">
          <i class="snapchat ghost icon" style="font-size: 16px;"></i>kduport24
        </span>
      </div> -->

      <div class="ui horizontal divider" >
        <i class="user icon"></i> General Info
      </div>

      <div style="padding-top: 0px;">


        <div class="ui form">

            <div class="inline fields">

              <div class="field">
                <label style="font-size: 14.5px;">Current Status:</label>

                <div class="ui selection dropdown" style="width: 16em;">
                    <input type="hidden" name="current_status">
                    <i class="dropdown icon"></i>
                    <div class="default text">no, not relationship status...</div>
                    <div class="menu">
                        <div class="item" data-value="undergrad_student">Undergrad Student (full/part-time)</div>
                        <div class="item" data-value="grad_student">Grad Student (full/part-time)</div>
                        <div class="item" data-value="alumni">Alumni</div>
                        <div class="item" data-value="gap_year">Gap Year (ie. co-op)</div>
                    </div>
                </div>
              </div>

            </div>


            <div class="inline fields">

              <div class="field">
                <label style="font-size: 14.5px;">Campus:</label>

                <div class="ui selection dropdown" style="width: 18em;">
                    <input type="hidden" name="current_status">
                    <i class="dropdown icon"></i>
                    <div class="default text">can't go wrong with either, right?</div>
                    <div class="menu">
                      <div class="item" data-value="grad_student">St. George</div>
                      <div class="item" data-value="alumni">Mississauga</div>
                      <div class="item" data-value="undergrad_student">Scarborough</div>
                      <div class="disabled item" data-value="gap_year">Waterloo? (lol)</div>
                    </div>
                </div>
              </div>

            </div>


            <!-- TODO: add ajax and disable/enable this field, depending on above answer -->
            <div class="inline fields">

              <div class="field">
                <label style="font-size: 14.5px;">Year:</label>
                <div class="ui selection dropdown" style="width: 16em;">
                    <input type="hidden" name="gender">
                    <i class="dropdown icon"></i>
                    <div class="default text">they go by fast</div>
                    <div class="menu">
                        <div class="item" data-value="undergrad_student">1</div>
                        <div class="item" data-value="grad_student">2</div>
                        <div class="item" data-value="alumni">3</div>
                        <div class="item" data-value="alumni">4</div>
                        <div class="item" data-value="alumni">5+</div>
                    </div>
                </div>
              </div>
              
            </div>


            <div class="inline fields">

              <label style="font-size: 14.5px;">College:</label>
              <div class="ui selection dropdown" style="width: 20em;">
                <input type="hidden" name="country">                
                <i class="dropdown icon"></i>
                <div class="default text">get ready for the trinity elitists</div>
                <div class="menu">
                  <div class="item" data-value="af">
                    <!-- <i class="af flag"></i> -->
                    <img src="https://www.artsci.utoronto.ca/sites/artsci.utoronto.ca/files/023A7987.jpg" />
                    Innis College
                  </div>
                  <div class="item" data-value="ax">
                    <img src="https://www.artsci.utoronto.ca/sites/artsci.utoronto.ca/files/023A8008.jpg" />
                    New College
                  </div>
                  <div class="item" data-value="al">
                    <img src="https://www.artsci.utoronto.ca/sites/artsci.utoronto.ca/files/023A8103.jpg" />
                    St. Michael's College
                  </div>
                  <div class="item" data-value="dz">
                    <img src="https://www.artsci.utoronto.ca/sites/artsci.utoronto.ca/files/023A8027.jpg" />
                    University College
                  </div>
                  <div class="item" data-value="ax">
                    <img src="https://www.artsci.utoronto.ca/sites/artsci.utoronto.ca/files/023A8069.jpg" />
                    Victoria College
                  </div>
                  <div class="item" data-value="al">
                    <img src="https://www.artsci.utoronto.ca/sites/artsci.utoronto.ca/files/023A7967.jpg" />
                    Woodsworth College
                  </div>
                  <div class="item" data-value="af">
                    <img src="https://www.artsci.utoronto.ca/sites/artsci.utoronto.ca/files/023A8064.jpg" />
                    Trinity College
                  </div>

                </div>
              </div>

            </div>


            <div class="inline fields">

              <div class="field">
                <label style="font-size: 14.5px;">Living on Res?</label>
                <div class="ui selection dropdown" style="width: 16em;">
                    <input type="hidden" name="gender">
                    <i class="dropdown icon"></i>
                    <div class="default text">?</div>
                    <div class="menu">
                        <div class="item" data-value="undergrad_student">yes</div>
                        <div class="item" data-value="grad_student">no</div>
                    </div>
                </div>
              </div>
              <i class="eye icon" style="font-size: 14px;"></i> <span style="font-size: 13px; padding-top: 3px;">(visible to everyone)</span>
              
            </div>


            <div class="inline fields">

              <label style="font-size: 14.5px;">Studying:</label>
              <div class="ui fluid multiple search selection dropdown" style="width: 30em;">
                <input type="hidden" name="country">                
                <i class="dropdown icon"></i>
                <div class="default text">select major(s)</div>
                <div class="menu">
                  <div class="item" data-value="af"><i class="af flag"></i>Afghanistan</div>
                  <div class="item" data-value="ax"><i class="ax flag"></i>Aland Islands</div>
                  <div class="item" data-value="al"><i class="al flag"></i>Albania</div>
                  <div class="item" data-value="dz"><i class="dz flag"></i>Algeria</div>
                  <div class="item" data-value="af"><i class="af flag"></i>Afghanistan</div>
                  <div class="item" data-value="ax"><i class="ax flag"></i>Aland Islands</div>
                  <div class="item" data-value="al"><i class="al flag"></i>Albania</div>
                  <div class="item" data-value="dz"><i class="dz flag"></i>Algeria</div>
                  <div class="item" data-value="af"><i class="af flag"></i>Afghanistan</div>
                  <div class="item" data-value="ax"><i class="ax flag"></i>Aland Islands</div>
                  <div class="item" data-value="al"><i class="al flag"></i>Albania</div>
                  <div class="item" data-value="dz"><i class="dz flag"></i>Algeria</div>
                </div>
              </div>

            </div>

        </div>

      </div>


      <div class="ui horizontal divider">
        <i class="user icon"></i> Personal
      </div>


      <div class="ui form">

        <div class="field">
          <label>Description:</label>
          <textarea rows="2" placeholder="get creative here"></textarea>
        </div>

        <div class="field">
          <label>Interests:</label>
          <textarea rows="2" placeholder="i know you have atleast some.. (use comma's to separate the interests)"></textarea>
        </div>

        <div class="field">
          <label>Quotes:</label>
          <textarea rows="2" placeholder="i know you have atleast some.. (use comma's to separate the interests)"></textarea>
        </div>

        <div class="field">
          <label>Music:</label>
          <textarea rows="2" placeholder="i know you have atleast some.. (use comma's to separate the interests)"></textarea>
        </div>

        <div class="field">
          <label>Movies/Shows:</label>
          <textarea rows="2" placeholder="i know you have atleast some.. (use comma's to separate the interests)"></textarea>
        </div>

        <div class="field">
          <label>Books:</label>
          <textarea rows="2" placeholder="i know you have atleast some.. (use comma's to separate the interests)"></textarea>
        </div>

      </div>


    </div>


  </div>




  <script>

    $('.ui.selection.dropdown').dropdown();
    $('#studying_dropdown').dropdown();

    document.querySelector('#profile_image_upload').addEventListener('change', function() {
      console.log('files:', this.files, this.files.length)
      
      if (this.files && this.files.length <= 5 ){
        const validImageTypes = ['image/gif', 'image/jpeg', 'image/png'];
        
        var valid_image_list = []
        for (i=0; i<this.files.length; i++){
          var file = this.files[i]
          var fileType = file["type"]
          if (!validImageTypes.includes(fileType)) {  // invalid file type code goes here.
            console.log('error...')
          } else {
            console.log('not-error...')
            valid_image_list.push(file)
            // var img = document.querySelector('#profile_image_placeholder');
            // img.onload = () => {
            //   URL.revokeObjectURL(img.src);  // no longer needed, free memory
            // }
            // img.src = URL.createObjectURL(this.files[0]); // set src to blob url
          }
        }

        console.log('valid-image-list:', valid_image_list)

        // clear the slides before adding to container
        var main_div = document.getElementsByClassName('container')[0]
        // main_div.innerHTML = ''
        var slides_div = main_div.getElementsByClassName('mySlides')
        for (i=0; i <= slides_div.length-1; i++){
          console.log('slides-div:', slides_div[i])
          slides_div[i].remove()
        }


        for (i=0; i <= valid_image_list.length-1; i++) {

          var parent_div = document.createElement('div')
          parent_div.className = 'mySlides'
          var child_div = document.createElement('div')
          child_div.className = 'numbertext'
          child_div.innerHTML = (i+1) + ' / ' + valid_image_list.length
          
          var image_elem = document.createElement('img')
          // image_elem.onload = () => {
          //   URL.revokeObjectURL(image_elem.src);  // no longer needed, free memory
          // }
          image_elem.src = URL.createObjectURL(valid_image_list[i]); // set src to blob url
          image_elem.style = 'border-radius: 5%; box-shadow: 5px 5px #F5F5F5; width: 100%'
          parent_div.appendChild(child_div)
          parent_div.appendChild(image_elem)
          var main_div = document.getElementsByClassName('container')[0]
          main_div.appendChild(parent_div)

        }

        document.getElementById('main_profile_image_upload').style.display = 'none'
        document.getElementById('profile_image_upload').style.display = ''
        showSlides(1)


        // // create divs and add to the container; show slides
        // var parent_div = document.createElement('div')
        // parent_div.className = 'mySlides'
        // var child_div = document.createElement('div')
        // child_div.className = 'numbertext'
        // child_div.innerHTML = '1 / 5'
        // // var href_elem = document.createElement('a')
        // // href_elem.href = "http://127.0.0.1:9000/static/sample_images/image_3.jpeg"
        // // href_elem.target = "_blank"
        // var image_elem = document.createElement('img')
        // image_elem.onload = () => {
        //   URL.revokeObjectURL(image_elem.src);  // no longer needed, free memory
        // }
        // image_elem.src = URL.createObjectURL(valid_image_list[0]); // set src to blob url
        // // image_elem.width = '100'
        // image_elem.style = 'border-radius: 5%; box-shadow: 5px 5px #F5F5F5; width: 100%'
        // // style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;"

        // // href_elem.appendChild(image_elem)
        // parent_div.appendChild(child_div)
        // // parent_div.appendChild(href_elem)
        // parent_div.appendChild(image_elem)
        // var main_div = document.getElementsByClassName('container')[0]
        // main_div.appendChild(parent_div)
        // document.getElementById('main_profile_image_upload').style.display = 'none'
        // showSlides(1)

        // let slideIndex = 1;
        // showSlides(slideIndex);


        // <div class="mySlides">
        //   <div class="numbertext">1 / 5</div>
        //   <a href="http://127.0.0.1:9000/static/sample_images/image_3.jpeg" target="_blank">
        //     <img src="{% static 'sample_images/image_3.jpeg' %}" width="100%" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
        //   </a>
        // </div>


      } else {
        // TODO: show the error-message that input was invalid

      }

      
    });



    let slideIndex = 1;
    // showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      slides[slideIndex-1].style.display = "block";

      // var prev_elem = document.createElement('a')
      // prev_elem.className = 'prev'
      // prev_elem.onclick = 'plusSlides(-1)'

      // var next_elem = document.createElement('a')
      // next_elem.className = 'next'
      // next_elem.onclick = 'plusSlides(1)'

      // document.getElementsByClassName('container')[0].appendChild(prev_elem)
      // document.getElementsByClassName('container')[0].appendChild(next_elem)

      // <a class="prev" onclick="plusSlides(-1)">❮</a>
      //   <a class="next" onclick="plusSlides(1)">❯</a>


    }


  </script>



{% endblock %}






