{% extends 'base.html' %}
{% load static %}


{% block content %}

{% csrf_token %}

  <!-- <div class="ui grid" style="padding-left: 8.5em; margin-top: 1.5em;"> -->
  <form id="profile_form" method="post" enctype="multipart/form-data">{% csrf_token %}

    <div class="ui grid" style="padding-left: 7.5em; margin-top: 1.5em;">

      <div class="four wide column" style="margin-top: 1em;">
      
        <div class="container">
  
          <a class="prev" onclick="plusSlides(-1)">❮</a>
          <a class="next" onclick="plusSlides(1)">❯</a>
  
        </div>

        <input id="profile_image_upload" type="file" name="profile_image" accept="image/*" style="display:none" multiple />
        <label for='profile_image_upload' id="main_profile_image_upload">
          <img id="profile_image_placeholder" src="{% static 'sample_images/image_placeholder_three.png' %}" width="280px" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
          <!-- <img id="profile_image_placeholder" src="//joeschmoe.io/api/v1/male/random" width="280px" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;"> -->
          <!-- <img id="profile_image_placeholder" src="https://avatars.dicebear.com/api/initials/kd.svg" width="280px" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;"> -->
        </label>
  
        <span id="proifle_image_error_message" style="color: red; display: none;">invalid data... remember, max 5 IMAGES only.</span>
        
        <br/><br/>
        <span style="font-size: 14.5px; font-weight: 500;">
          (you can always save and come back later...)
        </span>
      
      </div>


      <div class="ten wide column" style="padding-left: 3em;">
      <!-- <div class="ten wide column" > -->

        <div>

          <h2 class="ui header" style="display: inline-block; font-size: 27px;">
            Kevin Duport 
          </h2>
  
          <button id="save_button" class="ui inverted blue vertical animated button" tabindex="0" style="float: right;" type="submit">
            <div class="hidden content"><i class="hand point right outline icon"></i></div>
            <div class="visible content">
              Save Changes
            </div>
          </button>
   
          
          <!-- <div class="ui form"> -->
  
          <div class="inline fields">

            <div class="field">
              <label style="font-size: 14.5px;">Gender:</label>
              <div class="ui selection dropdown">
                  <input type="hidden" name="gender" id="gender_input">
                  <i class="dropdown icon"></i>
                  <div class="default text"></div>
                  <div class="menu">
                      <div class="item" data-value="male">Male</div>
                      <div class="item" data-value="female">Female</div>
                      <div class="item" data-value="prefer_not_to_say">Prefer Not to Say</div>
                      <div class="item" data-value="other">Other</div>
                  </div>
              </div>
            </div>
  
          </div>

          <!-- </div> -->
  
  
          <div class="ui horizontal divider" >
            <i class="user icon"></i> Socials
          </div>
  
          <div class="ui form">
  
            <div class="inline fields">
              <div class="eight wide field" >
                <i class="instagram icon" style="font-size: 16px;"></i>
                <input type="text" id="instagram_id" name="instagram-id" placeholder="for the follower count" >
                <!-- <input type="text" name="instagram-id" placeholder="to showcase the life you don't live" style="width: 20em;"> -->
              </div>
            </div>
    
            <div class="inline fields">
              <div class="eight wide field" >
                <i class="snapchat ghost icon" style="font-size: 16px;"></i>
                <input type="text" id="snapchat_id" name="snapchat-id" placeholder="shh...">
              </div>
            </div>
  
            <div class="inline fields">
              <div class="eight wide field" >
                <i class="spotify icon" style="font-size: 16px;"></i>
                <input type="text" id="spotify_id" name="spotify-id" placeholder="it's 'lit' ">
              </div>
            </div>
            
          </div>
  
        </div>
      

        <div class="ui horizontal divider" >
          <i class="user icon"></i> Info
        </div>
  

        <div style="padding-top: 0px;">

          <div class="ui form">
  
              <div class="inline fields">
  
                <div class="field">
                  <label style="font-size: 14.5px;">Current Status:</label>
  
                  <div class="ui selection dropdown" style="width: 16em;">
                      <input type="hidden" name="current_status" id="current_school_status">
                      <i class="dropdown icon"></i>
                      <div class="default text">no, not relationship status...</div>
                      <div class="menu">
                          <div class="item" data-value="undergrad_student">Undergrad Student (full/part-time)</div>
                          <div class="item" data-value="grad_student">Grad Student (full/part-time)</div>
                          <div class="item" data-value="alumni">Alumni</div>
                          <div class="item" data-value="gap_year">Gap Year (ie. co-op)</div>
                      </div>
                  </div>
                </div>
  
              </div>
  
  
              <div class="inline fields">
  
                <div class="field">
                  <label style="font-size: 14.5px;">Campus:</label>
  
                  <div class="ui selection dropdown" style="width: 18em;">
                      <input type="hidden" name="campus" id="user_campus">
                      <i class="dropdown icon"></i>
                      <div class="default text">can't go wrong with either, right?</div>
                      <div class="menu">
                        <div class="item" data-value="utsg">St. George</div>
                        <div class="item" data-value="utm">Mississauga</div>
                        <div class="item" data-value="utsc">Scarborough</div>
                        <div class="disabled item" data-value="jk">Waterloo? (lol)</div>
                      </div>
                  </div>
                </div>
  
              </div>
  
  
              <div class="inline fields">
  
                <div class="field" id="user_year_field">
                  <label style="font-size: 14.5px;">Year:</label>
                  <div class="ui selection dropdown" style="width: 16em;">
                      <input type="hidden" name="user_year" id="user_year">
                      <i class="dropdown icon"></i>
                      <div class="default text">they go by fast</div>
                      <div class="menu">
                          <div class="item" data-value="1">1</div>
                          <div class="item" data-value="2">2</div>
                          <div class="item" data-value="3">3</div>
                          <div class="item" data-value="4">4</div>
                          <div class="item" data-value="5">5+</div>
                      </div>
                  </div>
                </div>
                
              </div>
  
  
              <div class="inline fields">
  
                <label style="font-size: 14.5px;">College:</label>
                <div class="ui selection dropdown" style="width: 20em;">
                  <input type="hidden" name="user_college" id="user_college">                
                  <i class="dropdown icon"></i>
                  <div class="default text">get ready for the trinity elitists</div>
                  <div class="menu">
                    <div class="item" data-value="innis">
                      <img src="https://www.artsci.utoronto.ca/sites/artsci.utoronto.ca/files/023A7987.jpg" />
                      Innis College
                    </div>
                    <div class="item" data-value="new_college">
                      <img src="https://www.artsci.utoronto.ca/sites/artsci.utoronto.ca/files/023A8008.jpg" />
                      New College
                    </div>
                    <div class="item" data-value="st_michael_college">
                      <img src="https://www.artsci.utoronto.ca/sites/artsci.utoronto.ca/files/023A8103.jpg" />
                      St. Michael's College
                    </div>
                    <div class="item" data-value="university_college">
                      <img src="https://www.artsci.utoronto.ca/sites/artsci.utoronto.ca/files/023A8027.jpg" />
                      University College
                    </div>
                    <div class="item" data-value="victoria_college">
                      <img src="https://www.artsci.utoronto.ca/sites/artsci.utoronto.ca/files/023A8069.jpg" />
                      Victoria College
                    </div>
                    <div class="item" data-value="woodsworth_college">
                      <img src="https://www.artsci.utoronto.ca/sites/artsci.utoronto.ca/files/023A7967.jpg" />
                      Woodsworth College
                    </div>
                    <div class="item" data-value="trinity_college">
                      <img src="https://www.artsci.utoronto.ca/sites/artsci.utoronto.ca/files/023A8064.jpg" />
                      Trinity College
                    </div>
                  </div>
                </div>
  
              </div>
  
  
              <div class="inline fields">
  
                <div class="field" id="user_living_on_res">
                  <label style="font-size: 14.5px;">Living on Res?</label>
                  <div class="ui selection dropdown" style="width: 16em;">
                      <input type="hidden" name="living_on_res" id="living_on_res">
                      <i class="dropdown icon"></i>
                      <div class="default text">?</div>
                      <div class="menu">
                          <div class="item" data-value="yes">yes</div>
                          <div class="item" data-value="no">no</div>
                      </div>
                  </div>
                </div>
  
              </div>
  
  
              <div class="inline fields">
  
                <label style="font-size: 14.5px;">
                  <strong>Major(s):</strong>
                </label>
                <div class="ui fluid multiple search selection dropdown" style="width: 30em;">
                  <input type="hidden" name="user_major" id="user_major">                
                  <i class="dropdown icon"></i>
                  <div class="default text">select major(s)</div>
                  <div class="menu">
                    {% for l in programs %}
                      <div class="item" data-value="{{ l }}">{{ l }}</div>
                    {% endfor %}                  
                  </div>
  
                </div>
                
              </div>
  
              <div class="inline fields" id="user_course_field">
  
                <label style="font-size: 14.5px;">
                  <strong>
                    Add your courses:
                  </strong>
                </label>
                
                <div class="ui fluid multiple search selection dropdown" style="width: 30em;">
                  <input type="hidden" name="user_courses" id="user_courses">                
                  <i class="dropdown icon"></i>
                  <div class="default text">select course(s).. (undergrad only atm)</div>
                  <div class="menu">
                    {% for l in courses %}
                      <div class="item" data-value="{{ l }}">{{ l }}</div>
                    {% endfor %}
                  </div>
                </div>

              </div>
  
  
              <div class="inline fields">
  
                <label style="font-size: 14.5px;">
                  <strong>
                    Jobs & Companies: 
                  </strong>
                </label>
                
                <div class="eight wide field" >
                  <input type="text" name="user_job" id="user_job" placeholder="example: intern at NASA">
                </div>              
                &nbsp;
  
              </div>
  
          </div>

  
        </div>


        <div class="ui horizontal divider">
          <i class="user icon"></i> Personal
        </div>
  
        <div class="ui form">


          <div class="inline fields">
  
            <div class="field">
              <label style="font-size: 14.5px;">Single ready to mingle?:</label>
  
              <div class="ui selection dropdown" style="width: 20em;">
                  <input type="hidden" name="current_relationship_status" id="current_relationship_status">
                  <i class="dropdown icon"></i>
                  <div class="default text">oh la la...</div>
                  <div class="menu">
                      <div class="item" data-value="whatever">whatever happens, happens</div>
                      <div class="item" data-value="hell_yeah">hell yeah</div>
                      <div class="item" data-value="hell_nah">hell nah</div>
                      <div class="item" data-value="yeah_something_like_that">yeah, something like that...</div>
                      <div class="item" data-value="oh_god">oh god</div>
                      <div class="item" data-value="sure">sure</div>
                      <div class="item" data-value="no">no.</div>
                      <div class="item" data-value="single_no_mingle">single but I don't mingle</div>
                      <div class="item" data-value="complicated">it's complicated</div>
                      <div class="item" data-value="going_with_flow">going with the flow</div>
                      <div class="item" data-value="love_of_my_life">already with the love of my life</div>
                      <div class="item" data-value="child_of_god">i'm a child of god</div>
                      <div class="item" data-value="prefer_not_to_say">prefer not to say</div>
                  </div>
              </div>
            </div>
  
          </div>
  
  
          <div class="inline fields">
  
            <label style="font-size: 14.5px;">
              <strong>
                Where I'm from:
              </strong>
            </label>
            
            <div class="eight wide field" >
              <input type="text" name="user_location" placeholder="dallas? hong kong? philippines?">
            </div>              
  
          </div>
  

          <!-- <div class="inline fields">
  
            <label style="font-size: 14.5px;">
              <strong>
                Favorite pizza topping:
              </strong>
            </label>
            
            <div class="eight wide field" >
              <input type="text" name="pizza_topping" placeholder="because everyone must know this">
            </div>              
  
          </div> -->

  
          <div class="field">
            <label style="font-size: 14.5px;">Description:</label>
            <textarea name="user_description" form="profile_form" id="user_description" rows="2" placeholder="something you want other students to know about you?"></textarea>
          </div>
  
          <div class="field">
            <label style="font-size: 14.5px;">Interests:</label>
            <textarea name="user_interest" form="profile_form" id="user_interest" rows="2" placeholder="UFOlogy, conspiracies, unexplained phenomena, quidditch, photography, okay I'll stop "></textarea>
          </div>
        
        </div>


      </div>


    </div>

  </form>


  <br/><br/><br/>



    <!-- <form class="ui form" method="POST" enctype="multipart/form-data">

      <div class="four wide column" style="margin-top: 1em;">
      
        <div class="container">

          <input id="profile_image_upload" type="file" name="profile_image" accept="image/*" multiple />
          <br/><br/>
          <input type="text" id="instagram_id" name="instagram-id" placeholder="for the follower count" >

        </div>
      
      </div>

      <br/><br/>
      <button class="ui button" type="submit">Submit</button>

    </form> -->



  
  </div>



  <script>

    $('.ui.selection.dropdown').dropdown();
    $('#studying_dropdown').dropdown();

    document.querySelector('#profile_image_upload').addEventListener('change', function() {
      console.log('files:', this.files, this.files.length)

      if (this.files && this.files.length <= 5 ){
        document.getElementById('proifle_image_error_message').style.display = 'none'

        const validImageTypes = ['image/gif', 'image/jpeg', 'image/png'];
        
        var valid_image_list = []
        for (i=0; i<this.files.length; i++){
          var file = this.files[i]
          var fileType = file["type"]
          if (!validImageTypes.includes(fileType)) {  // invalid file type code goes here.
            console.log('error...')
          } else {
            console.log('not-error...')
            valid_image_list.push(file)
          }
        }

        console.log('valid-image-list:', valid_image_list)

        // clear the slides before adding to container
        var main_div = document.getElementsByClassName('container')[0]
        $('.mySlides').remove()
   
        for (i=0; i <= valid_image_list.length-1; i++) {

          var parent_div = document.createElement('div')
          parent_div.className = 'mySlides'
          var child_div = document.createElement('div')
          child_div.className = 'numbertext'
          child_div.innerHTML = (i+1) + ' / ' + valid_image_list.length
          
          var image_elem = document.createElement('img')

          image_elem.src = URL.createObjectURL(valid_image_list[i]); // set src to blob url
          image_elem.style = 'border-radius: 5%; box-shadow: 5px 5px #F5F5F5; width: 100%'
          parent_div.appendChild(child_div)
          parent_div.appendChild(image_elem)
          var main_div = document.getElementsByClassName('container')[0]
          main_div.appendChild(parent_div)

        }

        document.getElementById('main_profile_image_upload').style.display = 'none'
        document.getElementById('profile_image_upload').style.display = ''
        showSlides(slideIndex)

      } else {
        $("#profile_image_upload").val(null);
        document.getElementById('proifle_image_error_message').style.display = ''
        document.getElementById('main_profile_image_upload').style.display = ''
        document.getElementById('profile_image_upload').style.display = 'none'
        $('.mySlides').remove()

      }

      
    });




    let slideIndex = 1;
    // showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      slides[slideIndex-1].style.display = "block";

    }


    $('#current_school_status').change(function(){

      $('#user_year_field').removeClass('disabled')
      $('#user_living_on_res').removeClass('disabled')
      $('#user_course_field').removeClass('disabled')

      var current_status_val = this.value
      if (current_status_val == 'alumni'){
        $('#user_year_field').addClass('disabled')
        $('#user_living_on_res').addClass('disabled')
        $('#user_course_field').addClass('disabled')
      }
      else if (current_status_val == 'grad_student'){
        $('#user_course_field').addClass('disabled')
        // $('#user_year_field').addClass('disabled')
        // $('#user_living_on_res').addClass('disabled')
      }
      else if (current_status_val == 'gap_year'){
        $('#user_course_field').addClass('disabled')
      }
      

      // var current_school_val = this.value;
      // var firstDropVal = $('#pick').val();
    })




  </script>



{% endblock %}


