{% extends 'base.html' %}
{% load static %}


{% block content %}

{% csrf_token %}

  <div class="ui grid" style="padding-left: 8.5em; margin-top: 1.5em;">

    <div class="four wide column" style="margin-top: 1em;">
      
      <div class="container">

        <!-- <div class="mySlides">
          <div class="numbertext">1 / 5</div>
          <a href="http://127.0.0.1:9000/static/sample_images/image_3.jpeg" target="_blank">
            <img src="{% static 'sample_images/image_3.jpeg' %}" width="100%" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
          </a>
        </div>
         -->
         
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

      </div>
          

      <input id="profile_image_upload" type="file" name="profile_image" accept="image/*" style="display:none" multiple />
      <label for='profile_image_upload' id="main_profile_image_upload">
        <img id="profile_image_placeholder" src="{% static 'sample_images/image_placeholder_three.png' %}" width="280px" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
        <!-- <img id="profile_image_placeholder" src="//joeschmoe.io/api/v1/male/random" width="280px" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;"> -->
        <!-- <img id="profile_image_placeholder" src="https://avatars.dicebear.com/api/initials/kd.svg" width="280px" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;"> -->
      </label>

      <span id="proifle_image_error_message" style="color: red; display: none;">invalid data... remember, max 5 IMAGES only.</span>


      <br/><br/>
      <span style="font-size: 14.5px; font-weight: 500;">
        (you can always save and come back later...)
      </span>

      <!-- <div class="container">

        <div class="mySlides">
          <div class="numbertext">1 / 5</div>
          <a href="http://127.0.0.1:9000/static/sample_images/image_3.jpeg" target="_blank">
            <img src="{% static 'sample_images/image_3.jpeg' %}" width="100%" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
          </a>
        </div>

        <div class="mySlides">
          <div class="numbertext">2 / 5</div>
          <img src="{% static 'sample_images/image_4.jpeg' %}" width="100%" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
        </div>

        <div class="mySlides">
          <div class="numbertext">3 / 5</div>
          <img src="{% static 'sample_images/image_6.jpeg' %}" width="100%" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
        </div>

        <div class="mySlides">
          <div class="numbertext">4 / 5</div>
          <img src="{% static 'sample_images/image_7.jpeg' %}" width="100%" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
        </div>

        <div class="mySlides">
          <div class="numbertext"> 5 / 5</div>
          <img src="{% static 'sample_images/image_8.jpeg' %}" width="100%" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
        </div>

        <div class="mySlides">
          <div class="numbertext"> 5 / 5</div>
          <img src="{% static 'sample_images/image_1.jpeg' %}" width="100%" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
        </div>

        <div class="mySlides">
          <div class="numbertext"> 5 / 5</div>
          <img src="{% static 'sample_images/image_2.jpeg' %}" width="100%" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
        </div>

        <div class="mySlides">
          <div class="numbertext"> 5 / 5</div>
          <img src="{% static 'sample_images/image_5.jpeg' %}" width="100%" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
        </div>

        <div class="mySlides">
          <div class="numbertext"> 5 / 5</div>
          <img src="{% static 'sample_images/image_six.jpeg' %}" width="100%" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
        </div>

        <div class="mySlides">
          <div class="numbertext"> 5 / 5</div>
          <img src="{% static 'sample_images/image_three.jpeg' %}" width="100%" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
        </div>

        <div class="mySlides">
          <div class="numbertext"> 5 / 5</div>
          <img src="{% static 'sample_images/image_seven.webp' %}" width="100%" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
        </div>

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

      </div> -->


      <!-- <div class="ui horizontal divider">
        <i class="pencil alternate icon"></i> School
      </div> -->

      <!-- <div class="ui form">
        
        <label style="font-size: 14.5px;">
          <strong>Studying:</strong>
        </label>
        <div class="ui fluid multiple search selection dropdown" style="width: 20em;">
          <input type="hidden" name="country">                
          <i class="dropdown icon"></i>
          <div class="default text">select major(s)</div>
          <div class="menu">
            <div class="item" data-value="af"><i class="af flag"></i>Afghanistan</div>
            <div class="item" data-value="ax"><i class="ax flag"></i>Aland Islands</div>
            <div class="item" data-value="al"><i class="al flag"></i>Albania</div>
            <div class="item" data-value="dz"><i class="dz flag"></i>Algeria</div>
            <div class="item" data-value="af"><i class="af flag"></i>Afghanistan</div>
            <div class="item" data-value="ax"><i class="ax flag"></i>Aland Islands</div>
            <div class="item" data-value="al"><i class="al flag"></i>Albania</div>
            <div class="item" data-value="dz"><i class="dz flag"></i>Algeria</div>
            <div class="item" data-value="af"><i class="af flag"></i>Afghanistan</div>
            <div class="item" data-value="ax"><i class="ax flag"></i>Aland Islands</div>
            <div class="item" data-value="al"><i class="al flag"></i>Albania</div>
            <div class="item" data-value="dz"><i class="dz flag"></i>Algeria</div>
          </div>
        </div>

        <br/>

        <label style="font-size: 14.5px;">
          <strong>
            Add your courses:
          </strong>
        </label>
        <div class="ui fluid multiple search selection dropdown" style="width: 20em;">
          <input type="hidden" name="country">                
          <i class="dropdown icon"></i>
          <div class="default text">so you can find other people to cry too...</div>
          <div class="menu">
            <div class="item" data-value="af"><i class="af flag"></i>Afghanistan</div>
            <div class="item" data-value="ax"><i class="ax flag"></i>Aland Islands</div>
            <div class="item" data-value="al"><i class="al flag"></i>Albania</div>
            <div class="item" data-value="dz"><i class="dz flag"></i>Algeria</div>
            <div class="item" data-value="af"><i class="af flag"></i>Afghanistan</div>
            <div class="item" data-value="ax"><i class="ax flag"></i>Aland Islands</div>
            <div class="item" data-value="al"><i class="al flag"></i>Albania</div>
            <div class="item" data-value="dz"><i class="dz flag"></i>Algeria</div>
            <div class="item" data-value="af"><i class="af flag"></i>Afghanistan</div>
            <div class="item" data-value="ax"><i class="ax flag"></i>Aland Islands</div>
            <div class="item" data-value="al"><i class="al flag"></i>Albania</div>
            <div class="item" data-value="dz"><i class="dz flag"></i>Algeria</div>
          </div>
        </div>
        &nbsp;
        <i class="eye icon" style="font-size: 14px;"></i> <span style="font-size: 13px; ">(visible to everyone)</span>

      </div> -->

    </div>

    <div class="ten wide column" style="padding-left: 3em;">
      
      <div>

        <h2 class="ui header" style="display: inline-block; font-size: 27px;">
          Kevin Duport 
          <!-- <div class="ui teal horizontal label">Current Student</div>           -->
        </h2>

        <div id="save_button" class="ui inverted blue vertical animated button" tabindex="0" style="float: right;">
          <div class="hidden content"><i class="hand point right outline icon"></i></div>
          <div class="visible content">
            Save Changes
          </div>
        </div>
 
        
        <div class="ui form">

          <div class="inline fields">

            <div class="field">
              <label style="font-size: 14.5px;">Gender:</label>
              <div class="ui selection dropdown">
                  <input type="hidden" name="gender" id="gender_input">
                  <i class="dropdown icon"></i>
                  <div class="default text"></div>
                  <div class="menu">
                      <div class="item" data-value="male">Male</div>
                      <div class="item" data-value="female">Female</div>
                      <div class="item" data-value="prefer_not_to_say">Prefer Not to Say</div>
                      <div class="item" data-value="other">Other</div>
                  </div>
              </div>
            </div>

  
          </div>

        </div>


        <div class="ui horizontal divider" >
          <i class="user icon"></i> Socials
        </div>

        <div class="ui form">

          <div class="inline fields">
            <div class="eight wide field" >
              <i class="instagram icon" style="font-size: 16px;"></i>
              <input type="text" id="instagram_id" name="instagram-id" placeholder="for the follower count" >
              <!-- <input type="text" name="instagram-id" placeholder="to showcase the life you don't live" style="width: 20em;"> -->
            </div>
            <!-- <i class="eye icon" style="font-size: 14px;"></i> <span style="font-size: 13px; padding-top: 3px;">(visible to everyone)</span> -->
          </div>
  
          <div class="inline fields">
            <div class="eight wide field" >
              <i class="snapchat ghost icon" style="font-size: 16px;"></i>
              <input type="text" id="snapchat_id" name="snapchat-id" placeholder="shh...">
            </div>
            <!-- <i class="eye slash icon" style="font-size: 14px;"></i> <span style="font-size: 13px; padding-top: 3px;">(visible only upon your approval)</span> -->
          </div>

          <div class="inline fields">
            <div class="eight wide field" >
              <i class="spotify icon" style="font-size: 16px;"></i>
              <input type="text" id="spotify_id" name="spotify-id" placeholder="it's 'lit' ">
            </div>
            <!-- <i class="eye icon" style="font-size: 14px;"></i> <span style="font-size: 13px; padding-top: 3px;">(visible to everyone)</span> -->
          </div>

          <!-- <div class="inline fields">
            <div class="eight wide field" >
              <img src="{% static 'sample_images/tik-tok.png' %}">
              &nbsp;
              <input type="text" name="snapchat-id" placeholder="grow up...">
            </div>
            <i class="eye icon" style="font-size: 14px;"></i> <span style="font-size: 13px; padding-top: 3px;">(visible to everyone)</span>
          </div>

          <div class="inline fields">
            <div class="eight wide field" >
              <img src="{% static 'sample_images/vsco_new.png' %}" style="width: 17px;">
              &nbsp;
              <input type="text" name="snapchat-id" placeholder="a vsco girl, huh?">
            </div>
            <i class="eye icon" style="font-size: 14px;"></i> <span style="font-size: 13px; padding-top: 3px;">(visible to everyone)</span>
          </div> -->
          
        </div>

      </div>


      <div class="ui horizontal divider" >
        <i class="user icon"></i> Info
      </div>

      <div style="padding-top: 0px;">


        <div class="ui form">

            <div class="inline fields">

              <div class="field">
                <label style="font-size: 14.5px;">Current Status:</label>

                <div class="ui selection dropdown" style="width: 16em;">
                    <input type="hidden" name="current_status" id="current_school_status">
                    <i class="dropdown icon"></i>
                    <div class="default text">no, not relationship status...</div>
                    <div class="menu">
                        <div class="item" data-value="undergrad_student">Undergrad Student (full/part-time)</div>
                        <div class="item" data-value="grad_student">Grad Student (full/part-time)</div>
                        <div class="item" data-value="alumni">Alumni</div>
                        <div class="item" data-value="gap_year">Gap Year (ie. co-op)</div>
                    </div>
                </div>
              </div>

            </div>


            <div class="inline fields">

              <div class="field">
                <label style="font-size: 14.5px;">Campus:</label>

                <div class="ui selection dropdown" style="width: 18em;">
                    <input type="hidden" name="campus" id="user_campus">
                    <i class="dropdown icon"></i>
                    <div class="default text">can't go wrong with either, right?</div>
                    <div class="menu">
                      <div class="item" data-value="utsg">St. George</div>
                      <div class="item" data-value="utm">Mississauga</div>
                      <div class="item" data-value="utsc">Scarborough</div>
                      <div class="disabled item" data-value="jk">Waterloo? (lol)</div>
                    </div>
                </div>
              </div>

            </div>


            <!-- TODO: add ajax and disable/enable this field, depending on above answer -->
            <div class="inline fields">

              <div class="field">
                <label style="font-size: 14.5px;">Year:</label>
                <div class="ui selection dropdown" style="width: 16em;">
                    <input type="hidden" name="user_year" id="user_year">
                    <i class="dropdown icon"></i>
                    <div class="default text">they go by fast</div>
                    <div class="menu">
                        <div class="item" data-value="1">1</div>
                        <div class="item" data-value="2">2</div>
                        <div class="item" data-value="3">3</div>
                        <div class="item" data-value="4">4</div>
                        <div class="item" data-value="5">5+</div>
                    </div>
                </div>
              </div>
              
            </div>


            <div class="inline fields">

              <label style="font-size: 14.5px;">College:</label>
              <div class="ui selection dropdown" style="width: 20em;">
                <input type="hidden" name="user_college" id="user_college">                
                <i class="dropdown icon"></i>
                <div class="default text">get ready for the trinity elitists</div>
                <div class="menu">
                  <div class="item" data-value="innis">
                    <img src="https://www.artsci.utoronto.ca/sites/artsci.utoronto.ca/files/023A7987.jpg" />
                    Innis College
                  </div>
                  <div class="item" data-value="new_college">
                    <img src="https://www.artsci.utoronto.ca/sites/artsci.utoronto.ca/files/023A8008.jpg" />
                    New College
                  </div>
                  <div class="item" data-value="st_michael_college">
                    <img src="https://www.artsci.utoronto.ca/sites/artsci.utoronto.ca/files/023A8103.jpg" />
                    St. Michael's College
                  </div>
                  <div class="item" data-value="university_college">
                    <img src="https://www.artsci.utoronto.ca/sites/artsci.utoronto.ca/files/023A8027.jpg" />
                    University College
                  </div>
                  <div class="item" data-value="victoria_college">
                    <img src="https://www.artsci.utoronto.ca/sites/artsci.utoronto.ca/files/023A8069.jpg" />
                    Victoria College
                  </div>
                  <div class="item" data-value="woodsworth_college">
                    <img src="https://www.artsci.utoronto.ca/sites/artsci.utoronto.ca/files/023A7967.jpg" />
                    Woodsworth College
                  </div>
                  <div class="item" data-value="trinity_college">
                    <img src="https://www.artsci.utoronto.ca/sites/artsci.utoronto.ca/files/023A8064.jpg" />
                    Trinity College
                  </div>
                </div>
              </div>

              <!-- <i class="eye slash icon" style="font-size: 14px;"></i> <span style="font-size: 13px; padding-top: 3px;">(visible only upon your approval)</span> -->

            </div>


            <div class="inline fields">

              <div class="field">
                <label style="font-size: 14.5px;">Living on Res?</label>
                <div class="ui selection dropdown" style="width: 16em;">
                    <input type="hidden" name="living_on_res" id="living_on_res">
                    <i class="dropdown icon"></i>
                    <div class="default text">?</div>
                    <div class="menu">
                        <div class="item" data-value="yes">yes</div>
                        <div class="item" data-value="no">no</div>
                    </div>
                </div>
              </div>
              <!-- <i class="eye slash icon" style="font-size: 14px;"></i> <span style="font-size: 13px; padding-top: 3px;">(visible only upon your approval)</span> -->

            </div>


            <div class="inline fields">

              <label style="font-size: 14.5px;">
                <strong>Studying:</strong>
              </label>
              <div class="ui fluid multiple search selection dropdown" style="width: 30em;">
                <input type="hidden" name="user_major" id="user_major">                
                <i class="dropdown icon"></i>
                <div class="default text">select major(s)</div>
                <div class="menu">
                  {% for l in programs %}
                    <div class="item" data-value="{{ l }}">{{ l }}</div>
                  {% endfor %}                  
                </div>

              </div>
              
            </div>

            <div class="inline fields">

              <label style="font-size: 14.5px;">
                <strong>
                  Add your courses:
                </strong>
              </label>
              
              <div class="eight wide field" >
                <input type="text" name="courses" id="user_courses" placeholder="example: csc207, mat157, mat240">
              </div>              
              &nbsp;
              <!-- <i class="eye icon" style="font-size: 14px;"></i> <span style="font-size: 13px; ">(visible to everyone)</span> -->

            </div>


            <div class="inline fields">

              <label style="font-size: 14.5px;">
                <strong>
                  Jobs & Companies: 
                </strong>
              </label>
              
              <div class="eight wide field" >
                <input type="text" name="user_job" id="user_job" placeholder="example: intern at NASA">
              </div>              
              &nbsp;
              <!-- <i class="eye icon" style="font-size: 14px;"></i> <span style="font-size: 13px; ">(visible to everyone)</span> -->

            </div>
            

        </div>

      </div>


      <div class="ui horizontal divider">
        <i class="user icon"></i> Personal
      </div>

      <div class="ui form">


        <div class="inline fields">

          <label style="font-size: 14.5px;">
            <strong>
              Where I'm from:
            </strong>
          </label>
          
          <div class="eight wide field" >
            <input type="text" name="user_location" placeholder="dallas? hong kong? philippines?">
          </div>              

        </div>


        <div class="inline fields">

          <div class="field">
            <label style="font-size: 14.5px;">Single ready to mingle?:</label>

            <div class="ui selection dropdown" style="width: 20em;">
                <input type="hidden" name="current_relationship_status" id="current_relationship_status">
                <i class="dropdown icon"></i>
                <div class="default text">oh la la...</div>
                <div class="menu">
                    <div class="item" data-value="whatever">whatever happens, happens</div>
                    <div class="item" data-value="hell_yeah">hell yeah</div>
                    <div class="item" data-value="hell_nah">hell nah</div>
                    <div class="item" data-value="yeah_something_like_that">yeah, something like that...</div>
                    <div class="item" data-value="oh_god">oh god</div>
                    <div class="item" data-value="sure">sure</div>
                    <div class="item" data-value="no">no.</div>
                    <div class="item" data-value="single_no_mingle">single but I don't mingle</div>
                    <div class="item" data-value="complicated">it's complicated</div>
                    <div class="item" data-value="going_with_flow">going with the flow</div>
                    <div class="item" data-value="love_of_my_life">already with the love of my life</div>
                    <div class="item" data-value="child_of_god">i'm a child of god</div>
                    <div class="item" data-value="prefer_not_to_say">prefer not to say</div>
                </div>
            </div>
          </div>

        </div>


        <div class="inline fields">

          <label style="font-size: 14.5px;">
            <strong>
              Favorite pizza topping:
            </strong>
          </label>
          
          <div class="eight wide field" >
            <input type="text" name="pizza_topping" placeholder="because everyone must know this">
          </div>              

        </div>

        <div class="field">
          <label style="font-size: 14.5px;">Description:</label>
          <textarea id="user_description" rows="2" placeholder="something you want other students to know about you?"></textarea>
        </div>

        <div class="field">
          <label style="font-size: 14.5px;">Interests:</label>
          <textarea id="user_interest" rows="2" placeholder="UFOlogy, conspiracies, unexplained phenomena, quidditch, photography, okay I'll stop "></textarea>
        </div>

        <!-- <div class="field">
          <label style="font-size: 14.5px;">Quotes:</label>
          <textarea rows="2" placeholder="UFOlogy, conspiracies, unexplained phenomena, quidditch, okay I'll stop "></textarea>
        </div>


        <div class="field">
          <label>Interests:</label>
          <textarea rows="2" placeholder="UFOlogy, conspiracies, unexplained phenomena, quidditch, okay I'll stop "></textarea>
        </div>

        <div class="field">
          <label>Quotes:</label>
          <textarea rows="2" placeholder=" 'smile, while you still have teeth...', 'a wise man once...' "></textarea>
        </div>

        <div class="field">
          <label>Music:</label>
          <textarea rows="2" placeholder="to find that one other student who actually has the same obscure taste of music as you do"></textarea>
        </div>

        <div class="field">
          <label>Movies/Shows:</label>
          <textarea rows="2" placeholder="if you have more than 5 here and your a full-time student, how?"></textarea>
        </div>

        <div class="field">
          <label>Books:</label>
          <textarea rows="2" placeholder="hopefully you at least got one"></textarea>
        </div> -->

      </div>



    </div>


  </div>

  <br/>
  <br/>
  <br/>




  <script>

    $('.ui.selection.dropdown').dropdown();
    $('#studying_dropdown').dropdown();


    // function checkValidImages(files){

    //   return new Promise(function(res){

    //     if (this.files && this.files.length <= 5 ){
    //       const validImageTypes = ['image/gif', 'image/jpeg', 'image/png'];
          
    //       var valid_image_list = []
    //       for (i=0; i<this.files.length; i++){
    //         var file = this.files[i]
    //         var fileType = file["type"]
    //         if (!validImageTypes.includes(fileType)) {  // invalid file type code goes here.
    //           console.log('error...')
    //         } else {
    //           console.log('not-error...')
    //           valid_image_list.push(file)
    //         }
    //       }
    //       res(valid_image_list)

    //     }

    //   })
      
    // }


    document.querySelector('#profile_image_upload').addEventListener('change', function() {
      console.log('files:', this.files, this.files.length)
      
      // checkValidImages().then(function(valid_image_list){


      //   var main_div = document.getElementsByClassName('container')[0]
      //   $('.mySlides').remove()

      // })

      if (this.files && this.files.length <= 5 ){
        document.getElementById('proifle_image_error_message').style.display = 'none'

        const validImageTypes = ['image/gif', 'image/jpeg', 'image/png'];
        
        var valid_image_list = []
        for (i=0; i<this.files.length; i++){
          var file = this.files[i]
          var fileType = file["type"]
          if (!validImageTypes.includes(fileType)) {  // invalid file type code goes here.
            console.log('error...')
          } else {
            console.log('not-error...')
            valid_image_list.push(file)
            // var img = document.querySelector('#profile_image_placeholder');
            // img.onload = () => {
            //   URL.revokeObjectURL(img.src);  // no longer needed, free memory
            // }
            // img.src = URL.createObjectURL(this.files[0]); // set src to blob url
          }
        }

        console.log('valid-image-list:', valid_image_list)

        // clear the slides before adding to container
        var main_div = document.getElementsByClassName('container')[0]
        $('.mySlides').remove()
        // // main_div.innerHTML = ''
        // var slides_div = main_div.getElementsByClassName('mySlides')
        // for (i=0; i <= slides_div.length-1; i++){
        //   console.log('slides-div:', slides_div[i])
        //   // slides_div[i].remove()
        // }
 

        for (i=0; i <= valid_image_list.length-1; i++) {

          var parent_div = document.createElement('div')
          parent_div.className = 'mySlides'
          var child_div = document.createElement('div')
          child_div.className = 'numbertext'
          child_div.innerHTML = (i+1) + ' / ' + valid_image_list.length
          
          var image_elem = document.createElement('img')
          // image_elem.onload = () => {
          //   URL.revokeObjectURL(image_elem.src);  // no longer needed, free memory
          // }
          image_elem.src = URL.createObjectURL(valid_image_list[i]); // set src to blob url
          image_elem.style = 'border-radius: 5%; box-shadow: 5px 5px #F5F5F5; width: 100%'
          parent_div.appendChild(child_div)
          parent_div.appendChild(image_elem)
          var main_div = document.getElementsByClassName('container')[0]
          main_div.appendChild(parent_div)

        }

        document.getElementById('main_profile_image_upload').style.display = 'none'
        document.getElementById('profile_image_upload').style.display = ''
        showSlides(slideIndex)


        // // create divs and add to the container; show slides
        // var parent_div = document.createElement('div')
        // parent_div.className = 'mySlides'
        // var child_div = document.createElement('div')
        // child_div.className = 'numbertext'
        // child_div.innerHTML = '1 / 5'
        // // var href_elem = document.createElement('a')
        // // href_elem.href = "http://127.0.0.1:9000/static/sample_images/image_3.jpeg"
        // // href_elem.target = "_blank"
        // var image_elem = document.createElement('img')
        // image_elem.onload = () => {
        //   URL.revokeObjectURL(image_elem.src);  // no longer needed, free memory
        // }
        // image_elem.src = URL.createObjectURL(valid_image_list[0]); // set src to blob url
        // // image_elem.width = '100'
        // image_elem.style = 'border-radius: 5%; box-shadow: 5px 5px #F5F5F5; width: 100%'
        // // style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;"

        // // href_elem.appendChild(image_elem)
        // parent_div.appendChild(child_div)
        // // parent_div.appendChild(href_elem)
        // parent_div.appendChild(image_elem)
        // var main_div = document.getElementsByClassName('container')[0]
        // main_div.appendChild(parent_div)
        // document.getElementById('main_profile_image_upload').style.display = 'none'
        // showSlides(1)

        // let slideIndex = 1;
        // showSlides(slideIndex);


        // <div class="mySlides">
        //   <div class="numbertext">1 / 5</div>
        //   <a href="http://127.0.0.1:9000/static/sample_images/image_3.jpeg" target="_blank">
        //     <img src="{% static 'sample_images/image_3.jpeg' %}" width="100%" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
        //   </a>
        // </div>


      } else {
        // TODO: show the error-message that input was invalid
        // console.log('image')
        document.getElementById('proifle_image_error_message').style.display = ''

      }

      
    });



    let slideIndex = 1;
    // showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      slides[slideIndex-1].style.display = "block";

      // var prev_elem = document.createElement('a')
      // prev_elem.className = 'prev'
      // prev_elem.onclick = 'plusSlides(-1)'

      // var next_elem = document.createElement('a')
      // next_elem.className = 'next'
      // next_elem.onclick = 'plusSlides(1)'

      // document.getElementsByClassName('container')[0].appendChild(prev_elem)
      // document.getElementsByClassName('container')[0].appendChild(next_elem)

      // <a class="prev" onclick="plusSlides(-1)">❮</a>
      //   <a class="next" onclick="plusSlides(1)">❯</a>


    }


    function getFileData(f){

      return new Promise(function(resolve, reject){
        var image_files = f
        var data = new FormData()
        for (i=0; i<=image_files.length-1; i++){
          data.append('file', image_files[i])
          console.log(data)
        }
        resolve(data)
        // var data = new FormData(image_files)
        // console.log('data:', data)

      })

    }


    $('#save_button').click(function(){

      var gender = $('#gender_input').val()
      var instagram_id = $('#instagram_id').val()
      var snapchat_id = $('#snapchat_id').val()
      var spotify_url = $('#spotify_id').val()
      var current_school_status = $('#current_school_status').val()
      var user_campus = $('#user_campus').val()
      var user_year = $('#user_year').val()
      var user_college = $('#user_college').val()
      var living_on_res = $('#living_on_res').val()
      var user_major = $('#user_major').val()
      var user_courses = $('#user_courses').val()
      var user_job = $('#user_job').val()
      var user_location = $('#user_location').val()
      var current_relationship_status = $('#current_relationship_status').val()
      var pizza_topping = $('#pizza_topping').val()
      var user_description = $('#user_description').val()
      var user_interest = $('#user_interest').val()



      $('#save_button').click(function(event){
        event.preventDefault();
        var image_files = $('#profile_image_upload').prop('files')
        var form_data = new FormData()
        for (i=0; i<=image_files.length-1; i++){
          form_data.append('file', image_files[i])
        }

        // data: {
        //     csrfmiddlewaretoken: csrf_tok, 
        //     profileImages: form_data
        //   },

        $.ajaxSetup({
          headers: { "X-CSRFToken": '{{csrf_token}}' }
        });

        $.ajax({
          type: "POST",  
          url: "{% url 'edit_profile' %}",
          contentType: 'application/json',
          data: {
            profileImages: form_data
          },
          async: false,
          cache: false,
          // contentType: false,
          enctype: 'multipart/form-data',
          processData: false,
          success: function() {}
        });
          
          


        // getFileData(image_files).then(function(data){
        //   console.log('data:', data)
        // })

        // console.log('image-files:', image_files)
        
        // console.log('image-files:', $('#profile_image_upload').prop('files'))

        // $.ajax({
        //     type: "POST",
        //     url: "{% url 'edit_profile' %}",
        //     // data: {
        //     //   'images': $('#test').val() // from form
        //     // },
        //     // Form data
        //     data: new FormData($('form')[0]),
        //     // Tell jQuery not to process data or worry about content-type
        //     // You *must* include these options!
        //     cache: false,
        //     contentType: false,
        //     processData: false,

        //     success: function () {
        //       console.log('form-success')
        //       // $('#message').html("<h2>Contact Form Submitted!</h2>")
        //     }
        //   });
        //   return false; //<---- move it here
        // });


        // $.post(event.target.action, $( "#photoUpload" ).serialize(), function(data) {
        //       $("#myModalContent").html(data);
        //   })

      })


      $( "#photoUpload" ).submit(function( event ) {
          event.preventDefault();
          $("#myModalContent").html('Loading...');
          // console.log(event);
          $.post(event.target.action, $( "#photoUpload" ).serialize(), function(data) {
              $("#myModalContent").html(data);
          })
      });

      
      
    })


  </script>



{% endblock %}






