{% extends 'base.html' %}
{% load static %}


{% block content %}

{% csrf_token %}


<form id="profile_form" method="post" enctype="multipart/form-data">{% csrf_token %}

  <div class="ui grid" style="padding-left: 8.5em; margin-top: 1.5em;">

    <div class="four wide column" style="margin-top: 1em;">
        
      <div class="container">

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

      </div>

      <input id="profile_image_upload" type="file" name="profile_image" accept="image/*" style="display:none" multiple />
      <label for='profile_image_upload' id="main_profile_image_upload">
        <img id="profile_image_placeholder" src="{% static 'sample_images/image_placeholder_three.png' %}" width="280px" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
      </label>

      <span id="proifle_image_error_message" style="color: red; display: none;">invalid data... remember, max 5 IMAGES only.</span>
      
      <!-- <br/><br/>
      <span style="font-size: 14.5px; font-weight: 500;">
        (you can always save and come back later...)
      </span> -->
    
    </div>


    <div class="ten wide column" style="padding-left: 3em;">

      <div style="padding-top: 15px">

        <button id="save_button" class="ui inverted blue vertical animated button" tabindex="0" style="float: right;" type="submit">
          <div class="hidden content"><i class="hand point right outline icon"></i></div>
          <div class="visible content">
            Save Changes
          </div>
        </button>

      </div>


      <div class="ui tiny form">
  
        <div class="inline fields">
          
          <div class="six wide field" >
            <label style="font-size: 14.5px;">First:</label>
            {% if user_info.up_obj.first_name is not None %}
              <input type="text" id="first_name" name="first-name" value="{{ user_info.up_obj.first_name }}">
            {% else %}
              <input type="text" id="first_name" name="first-name" placeholder="first name...">
            {% endif %}
          </div>

          <div class="six wide field" >
            <label style="font-size: 14.5px;">Last:</label>
            {% if user_info.up_obj.last_name is not None %}
              <input type="text" id="last_name" name="last-name" placeholder="last name..." value="{{ user_info.up_obj.last_name }}">
            {% else %}
              <input type="text" id="last_name" name="last-name" placeholder="last name...">
            {% endif %}
          </div>

        </div>

        <div class="inline fields">
          
          <div class="six wide field" >
            <i class="instagram icon" style="font-size: 16px;"></i>
            <!-- <input type="text" id="instagram_id" name="instagram-id" placeholder="for the follower count" value="{{  user_info.up_obj.instagram_id }}"> -->
            {% if user_info.up_obj.instagram_id is not None %}
              <input type="text" id="instagram_id" name="instagram-id" value="{{ user_info.up_obj.instagram_id }}">
            {% else %}
              <input type="text" id="instagram_id" name="instagram-id" placeholder="showcase the life you don't live">
            {% endif %}
            <!-- <input type="text" name="instagram-id" placeholder="to showcase the life you don't live" style="width: 20em;"> -->
          </div>

          <div class="six wide field" >
            <i class="snapchat ghost icon" style="font-size: 16px;"></i>
            {% if user_info.up_obj.snapchat_id is not None %}
              <input type="text" id="snapchat_id" name="snapchat-id" placeholder="shh..." value="{{  user_info.up_obj.snapchat_id }}">
            {% else %}
              <input type="text" id="snapchat_id" name="snapchat-id" placeholder="shh...">
            {% endif %}
          </div>

          <div class="six wide field" >
            <i class="spotify icon" style="font-size: 16px;"></i>
            {% if user_info.up_obj.spotify_id is not None %}
              <input type="text" id="spotify_id" name="spotify-id" placeholder="it's 'lit' " value="{{  user_info.up_obj.instagram_id }}">
            {% else %}
              <input type="text" id="spotify_id" name="spotify-id" placeholder="it's 'lit' ">
            {% endif %}
          </div>

        </div>

      
      </div>



      <div class="ui tabular menu" style="padding-top: 10px">
        
        <a class="item active" id="posts_tab">
          Main
        </a>
        <a class="item" id="profile_tab">
          Details
        </a>

      </div>


      <div id="tab_post_information">

        <div class="ui tiny form" style="padding-top: 2px;">

          <div class="inline fields">

            <label style="font-size: 14.5px;">About:</label>
            <div class="twelve wide field">
              <textarea name="user_description" form="profile_form" id="user_description" rows="3" placeholder="something you want other students to know about you?">{{ user_info.up_obj.user_description }}</textarea>
            </div>
            
          </div>
          
          <div class="inline fields">
  
            <div class="field">
              <label style="font-size: 14.5px;">Current Status:</label>

              <div class="ui selection dropdown" style="width: 20em;">

                <input type="hidden" name="current_status" id="current_school_status" value="{{ user_info.up_obj.current_school_status }}">

                <i class="dropdown icon"></i>
                <div class="default text">no, not relationship status...</div>                      
                <div class="menu">
                    <div class="item" name="current_status" data-value="undergrad">Undergrad Student (full/part-time)</div>
                    <div class="item" name="current_status" data-value="grad">Grad Student (full/part-time)</div>
                    <div class="item" name="current_status" data-value="phd">PHD Student (full/part-time)</div>
                    <div class="item" name="current_status" data-value="alumni">Alumni</div>
                    <div class="item" name="current_status" data-value="gap year">Gap Year (ie. co-op)</div>
                </div>

              </div>
            </div>
          
          </div>


          <div class="inline fields">
  
            <div class="field">
              <label style="font-size: 14.5px;">Campus:</label>

              <div class="ui selection dropdown" style="width: 18em;">
                  
                <input type="hidden" name="campus" id="user_campus" value="{{ user_info.up_obj.current_school_campus }}">

                <i class="dropdown icon"></i>
                <div class="default text">can't go wrong with either, right?</div>
                <div class="menu">
                  <div class="item" data-value="utsg">St. George</div>
                  <div class="item" data-value="utm">Mississauga</div>
                  <div class="item" data-value="utsc">Scarborough</div>
                  <div class="disabled item" data-value="jk">Waterloo? (lol)</div>
                </div>

              </div>
            </div>

          </div>


          <div class="inline fields">

            <div class="field" id="user_year_field">
              <label style="font-size: 14.5px;">Year:</label>
              <div class="ui selection dropdown" style="width: 16em;">

                <input type="hidden" name="user_year" id="user_year" value="{{ user_info.up_obj.current_school_year }}">

                <i class="dropdown icon"></i>
                <div class="default text">they go by fast</div>
                <div class="menu">
                    <div class="item" data-value="1">1</div>
                    <div class="item" data-value="2">2</div>
                    <div class="item" data-value="3">3</div>
                    <div class="item" data-value="4">4</div>
                    <div class="item" data-value="5">5+</div>
                </div>

              </div>
            </div>

          </div>
          

          <div class="inline fields">
  
            <label style="font-size: 14.5px;">
              <strong>Major(s):</strong>
            </label>

            <div class="ui fluid multiple search selection dropdown" style="width: 20em;">
              <input type="hidden" name="user_major" id="user_major" value="{{ user_info.user_major_str }}">
              <i class="dropdown icon"></i>
              <div class="default text">select major(s)</div>
              <div class="menu">
                {% for l in programs %}
                  <div class="item" data-value="{{ l }}">{{ l }}</div>
                {% endfor %}                  
              </div>
            </div>
            
          </div>


          <!-- <div class="inline fields">
  
            <label style="font-size: 14.5px;">
              <strong>Group(s):</strong>
            </label>

            
          </div> -->

          <select class="form-control" multiple="multiple">
            <option selected="selected">orange</option>
            <option>white</option>
            <option selected="selected">purple</option>
          </select>

      
          <div class="inline fields" >
  
            <label style="font-size: 14.5px;">
              <strong>
                Add your courses:
              </strong>
            </label>
            

            <div class="field" id="user_course_field">
  
              <div class="ui fluid multiple search selection dropdown" style="width: 30em;">
                <input type="hidden" name="user_courses" id="user_courses" value="{{ user_info.user_course_str }}">                
                <i class="dropdown icon"></i>
                <div class="default text">select course(s).. (undergrad only atm)</div>
                <div class="menu">
                  {% for l in courses %}
                    <div class="item" data-value="{{ l }}">{{ l }}</div>
                  {% endfor %}
                </div>
              </div>

            </div>

          </div>



        </div>

      </div>



      <div id="tab_profile_information" style="display: none;">

        <div class="ui tiny form" style="padding-top: 2px;">
        
          <div class="inline fields">
              
            <div class="field">
              <label style="font-size: 14.5px;">Gender:</label>
              <div class="ui selection dropdown">
  
                  <input type="hidden" name="gender" id="gender_input" value="{{ user_info.up_obj.gender }}">
  
                  <i class="dropdown icon"></i>
                  <div class="default text"></div>
                  <div class="menu">
                    <div class="item" data-value="male">Male</div>
                    <div class="item" data-value="female">Female</div>
                    <div class="item" data-value="prefer_not_to_say">Prefer Not to Say</div>
                    <div class="item" data-value="other">Other</div>
                  </div>
  
              </div>
  
            </div>
  
          </div>


          <div class="inline fields">
  
            <div class="field">
              <label style="font-size: 14.5px;">Looking to Mingle?:</label>
  
              <div class="ui selection dropdown" style="width: 20em;">
                  <input type="hidden" name="current_relationship_status" id="current_relationship_status" value="{{ up_obj.user_relationship_status }}">
                  <i class="dropdown icon"></i>
                  <div class="default text">oh la la...</div>
                  <div class="menu">
                      <div class="item" data-value="whatever happens, happens">whatever happens, happens</div>
                      <div class="item" data-value="hell yeah">hell yeah</div>
                      <div class="item" data-value="hell nah">hell nah</div>                      
                      <div class="item" data-value="yeah, something like that">yeah, something like that...</div>
                      <div class="item" data-value="i don't mingle">I don't mingle</div>
                      <div class="item" data-value="single">hell nah</div>
                      <div class="item" data-value="oh god">oh god</div>
                      <div class="item" data-value="sure">sure</div>
                      <div class="item" data-value="no">no.</div>
                      <div class="item" data-value="complicated">it's complicated</div>
                      <div class="item" data-value="going with the flow">going with the flow</div>
                      <div class="item" data-value="already with the love of my life">already with the love of my life</div>
                      <div class="item" data-value="i'm a child of god">i'm a child of god</div>
                      <div class="item" data-value="prefer not to say">prefer not to say</div>
                  </div>
              </div>
            </div>
  
          </div>


          <div class="inline fields">
  
            <label style="font-size: 14.5px;">
              <strong>
                Where I'm from:
              </strong>
            </label>
            
            <div class="eight wide field" >
              <input type="text" name="user_location" placeholder="dallas? hong kong? philippines?" value="{{ up_obj.user_location }}">
            </div>              
  
          </div>


          <div class="inline fields">
  
            <div class="field" id="user_college_field">

              <label style="font-size: 14.5px;">College:</label>
              <div class="ui selection dropdown" style="width: 20em;">

                <input type="hidden" name="user_college" id="user_college" value="{{ user_info.up_obj.current_college }}">

                <i class="dropdown icon"></i>
                <div class="default text">get ready for the trinity elitists</div>
                <div class="menu">
                  <div class="item" data-value="innis">
                    <img src="https://www.artsci.utoronto.ca/sites/artsci.utoronto.ca/files/023A7987.jpg" />
                    Innis College
                  </div>
                  <div class="item" data-value="new college">
                    <img src="https://www.artsci.utoronto.ca/sites/artsci.utoronto.ca/files/023A8008.jpg" />
                    New College
                  </div>
                  <div class="item" data-value="st michael college">
                    <img src="https://www.artsci.utoronto.ca/sites/artsci.utoronto.ca/files/023A8103.jpg" />
                    St. Michael's College
                  </div>
                  <div class="item" data-value="university college">
                    <img src="https://www.artsci.utoronto.ca/sites/artsci.utoronto.ca/files/023A8027.jpg" />
                    University College
                  </div>
                  <div class="item" data-value="victoria college">
                    <img src="https://www.artsci.utoronto.ca/sites/artsci.utoronto.ca/files/023A8069.jpg" />
                    Victoria College
                  </div>
                  <div class="item" data-value="woodsworth college">
                    <img src="https://www.artsci.utoronto.ca/sites/artsci.utoronto.ca/files/023A7967.jpg" />
                    Woodsworth College
                  </div>
                  <div class="item" data-value="trinity college">
                    <img src="https://www.artsci.utoronto.ca/sites/artsci.utoronto.ca/files/023A8064.jpg" />
                    Trinity College
                  </div>
                </div>

              </div>

            </div>

          </div>


          <div class="inline fields">
  
            <div class="field" id="user_living_on_res">
              <label style="font-size: 14.5px;">Living on Res?</label>
              <div class="ui selection dropdown" style="width: 16em;">
                  
                  <!-- {% if user_info.up_obj.living_on_res == 'yes' %}
                    <input type="hidden" name="living_on_res" id="living_on_res" value="yes">
                  {% elif user_info.up_obj.living_on_res == 'no' %}
                    <input type="hidden" name="living_on_res" id="living_on_res" value="no">
                  {% else %}
                    <input type="hidden" name="living_on_res" id="living_on_res">
                  {% endif %} -->

                  <input type="hidden" name="living_on_res" id="living_on_res" value="{{ user_info.up_obj.living_on_res }}">
                  <i class="dropdown icon"></i>
                  <div class="default text">?</div>
                  <div class="menu">
                      <div class="item" data-value="yes">yes</div>
                      <div class="item" data-value="no">no</div>
                  </div>

              </div>
            </div>

          </div>


          <div class="inline fields">
  
            <label style="font-size: 14.5px;">
              <strong>
                Jobs & Companies: 
              </strong>
            </label>
            
            <div class="eight wide field" >
              <input type="text" name="user_job" id="user_job" placeholder="example: intern at NASA" value="{{ up_obj.job_companies }}">
            </div>
            &nbsp;

          </div>

          <div class="inline fields">

            <label style="font-size: 14.5px;">Interests:</label>
            <div class="ten wide field">
              
              <textarea name="user_interest" form="profile_form" id="user_interest" rows="3" placeholder="UFOlogy, conspiracies, unexplained phenomena, quidditch, photography, okay I'll stop ">{{ up_obj.user_interests }}</textarea>
            </div>

          </div>

    
      

        </div>



      </div>
  


    



    </div>


  </div>  


  
</form>




<script>
  
  $('.ui.selection.dropdown').dropdown();
  $('#studying_dropdown').dropdown();


    
  $('#posts_tab').click(function(){
    $('#tab_post_information').show()
    $('#tab_profile_information').hide()
    $('#posts_tab').addClass('active')
    $('#profile_tab').removeClass('active')

  })

  $('#profile_tab').click(function(){
    $('#tab_post_information').hide()
    $('#tab_profile_information').show()
    $('#posts_tab').removeClass('active')
    $('#profile_tab').addClass('active')
  })



  document.querySelector('#profile_image_upload').addEventListener('change', function() {
    console.log('files:', this.files, this.files.length)

    if (this.files && this.files.length <= 5 ){
      document.getElementById('proifle_image_error_message').style.display = 'none'

      const validImageTypes = ['image/gif', 'image/jpeg', 'image/png', 'image/webp'];
      
      var valid_image_list = []
      for (i=0; i<this.files.length; i++){
        var file = this.files[i]
        var fileType = file["type"]
        if (!validImageTypes.includes(fileType)) {  // invalid file type code goes here.
          console.log('error...')
        } else {
          console.log('not-error...')
          valid_image_list.push(file)
        }
      }

      console.log('valid-image-list:', valid_image_list)

      // clear the slides before adding to container
      var main_div = document.getElementsByClassName('container')[0]
      $('.mySlides').remove()

      for (i=0; i <= valid_image_list.length-1; i++) {

        var parent_div = document.createElement('div')
        parent_div.className = 'mySlides'
        var child_div = document.createElement('div')
        child_div.className = 'numbertext'
        child_div.innerHTML = (i+1) + ' / ' + valid_image_list.length
        
        var image_elem = document.createElement('img')

        image_elem.src = URL.createObjectURL(valid_image_list[i]); // set src to blob url
        image_elem.style = 'border-radius: 5%; box-shadow: 5px 5px #F5F5F5; width: 100%'
        parent_div.appendChild(child_div)
        parent_div.appendChild(image_elem)
        var main_div = document.getElementsByClassName('container')[0]
        main_div.appendChild(parent_div)

      }

      document.getElementById('main_profile_image_upload').style.display = 'none'
      document.getElementById('profile_image_upload').style.display = ''
      showSlides(slideIndex)

    } else {
      $("#profile_image_upload").val(null);
      document.getElementById('proifle_image_error_message').style.display = ''
      document.getElementById('main_profile_image_upload').style.display = ''
      document.getElementById('profile_image_upload').style.display = 'none'
      $('.mySlides').remove()

    }

    
  });




  let slideIndex = 1;
  // showSlides(slideIndex);

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    slides[slideIndex-1].style.display = "block";

  }


  $('#current_school_status').change(function(){

  console.log('change...')
  // console.log('current-val:', this.value)

  $('#user_year_field').removeClass('disabled')
  $('#user_living_on_res').removeClass('disabled')
  $('#user_course_field').removeClass('disabled')

  var current_status_val = this.value
  if (current_status_val == 'alumni'){
    $('#user_year_field').val("");
    $('#user_living_on_res').val("");
    $('#user_course_field').val("");

    $('#user_year_field').addClass('disabled')
    $('#user_living_on_res').addClass('disabled')
    $('#user_course_field').addClass('disabled')
  }
  else if (current_status_val == 'grad'){
    $('#user_course_field').addClass('disabled')
    // $('#user_year_field').addClass('disabled')
    // $('#user_living_on_res').addClass('disabled')
  }
  else if (current_status_val == 'phd'){
    $('#user_course_field').addClass('disabled')
    // $('#user_year_field').addClass('disabled')
    // $('#user_living_on_res').addClass('disabled')
  }
  else if (current_status_val == 'gap year'){
    $('#user_course_field').addClass('disabled')
  }


  // var current_school_val = this.value;
  // var firstDropVal = $('#pick').val();
  })

  $('#user_campus').change(function(){

  var current_campus_val = this.value
  console.log('campus-val:', current_campus_val)
  if (current_campus_val == 'utm' || current_campus_val == 'utsc'){
    $('#user_college_field').addClass('disabled')
  } else if ( current_campus_val == 'utsg' ) {
    $('#user_college_field').removeClass('disabled')
  }

  })


</script>


{% endblock %}



