{% extends 'base.html' %}
{% load static %}


{% block content %}


<!-- 
  TODO: 
  add github project link 
-->

  <div class="ui grid container">

    <div class="column" style="margin: 0 auto; width: 50%;">

      <div class="ui basic segment">
        
        <h3 style="font-size: 18px; color: #002a5c;">
          What's this site about?
          <i class="angle down icon"></i>
        </h3>
        
        <p style="font-size: 14px; width: 70ch; line-height: 1.7em;">
          Who's going to be in my CSC207 class this coming fall semester? Which students have done an internship at the 
          WWF organization? Any other people on campus listen to the 'Highway Robbery' band? Who's trying to be on my 
          basketball intramural team this semester? What are some interesting things other Uoft students are talking about?
          <br/><br/>
          What's weird about the current landscape of social media is broadcasting information at a global scale is 
          extremely simple. Instagram and Tiktok have become massive central hubs to allow creators to share information 
          their followers would enjoy. However, we seem (at least I think) to be losing online social networks that are
          localized to an (offline)-community. It's kind of weird that simple questions like the ones mentioned above
          are not that easy to find answers to... 
          <br/><br/>
          At the moment, the primary medium that serves as an 'online hub' for Uoft students to connect with each other is Discord or Reddit.
          Even though both mediums are great, they do lack the 'real-identity' aspect which I feel is important for certain 
          types of online communities, especially a college campus. 
          When (the)-facebook first started, the fact that it was exclusive to your college campus made it cool... 
          students could have fun on the site but also, find and share relevant information with other students.
          (<i>zuck (kinda) screwed it all up, didn't he?</i>)
          <br/><br/>
          I quickly created this website as an experiment to see if students would join. 
          The inital version is quite minimal and predicated more on creating individual profiles, connecting with 
          other students on campus, and sharing relevant information. 
          This project is also open-source so please feel free to contribute (needs some work on the UI as i'm sure you can tell...)
          <br/><br/>
          <span style="font-family: 'Indie Flower', cursive; font-size: 24px; color: #002a5c; float: right; ">
            #Boundless
          </span>

          <!-- When Facebook first started, these were the types of questions one could easily find answers too. 
          However, <i>zuck (kinda) screwed it all up...</i>
          <br/><br/>
          This isn't necessarily a replica of the 2004 (the)facebook. And I'm not saying answers to the above questions 
          can't be found leveraging existing social tools (i'm not from the stone age, even though the UI of this site might convince 
          you otherwise). I feel in general though, there (shockingly) doesn't really seem to be a medium on the web that captures
          the social dynamics of a college campus with real-identity...
          <br/><br/>
          I quickly created this website as an experiment to see if students would join the party...
          the initial version is quite minimal and predicated more so on profiles and finding other students on campus.
          <br/><br/>
          who knows, I could be completely wrong and this is the most useless piece-of-shit 
          website you have ever seen and you absolutely never want to see or meet me (given the campus size and current state of the web (ahem), 
          that's very likely anyways) but hey, I'm willing to roll the dice. 

          <br/><br/> -->
          
        </p>

      </div>

    </div>

  </div>

{% endblock %}









