{% extends 'base.html' %}
{% load static %}


{% block content %}



<div class="ui  grid container" style="padding: 0em;">

  <div class="sixteen wide column" style="padding-top: 2em;">
    
    <h2 class="ui center aligned header" style="
      padding-right: 1em; font-family: 'Indie Flower', cursive; font-size: 34px; color: #002a5c;">
      Welcome to <img src="{% static 'uoft_logo/uoft_logo.png' %}" style="width:8%;">'s Room!
    </h2>

  </div>

  <div class="nine wide column" style="margin-left: 5em; padding-top: 2em;">
    
    <p style="width: 63ch; line-height: 1.5em; font-size: 14.5px;">
      The UofT Room is an online directory for current UofT students and alumni. You can create your 
      online profile, add your courses, share your interests, link your social media accounts, and 
      find/connect with other students on campus. 
      The website is only available to those who have a valid uoft email address.
      <br/><br/>

      <strong style="font-size: 14.5px">It can be used to: </strong>
      <ul id="use_case_list" class="ui list" >
        <li>Find people who are taking the same classes as you this coming semester</li>
        <li>Find other interesting students on campus</li>
        <li>Connect with a grad student who's in a program you want to be in</li>
        <li> <span style="font-size: 16px;">&#128064;</span> <i>(you'll get it if you join...)</i></li>
      </ul>

      <a href="{% url 'faq' %}" style="font-size: 14.5px;">Learn more about it here</a>

    </p>


  </div>

    
  <div class="four wide column" style="padding-top: 2em;">
    
    <h3>Join the Room</h3>

    <form class="ui form" method="post">

      <div class="field" style="width: 20em;">
        <label>email:</label>
        <input id="school_email" type="text" name="school_email" placeholder="school email">
        <span id="school_email_error" style="color: red; display: none;">is that really your uoft email?</span>
      </div>

      <div class="field" style="width: 20em;">
        <label>first name:</label>
        <input id="first_name" type="text" name="first_name" placeholder="you know the drill">
      </div>

      <div class="field" style="width: 20em;">
        <label>last name:</label>
        <input id="last_name" type="text" name="last_name" placeholder="hopefully you love them">
      </div>

      <div class="field" style="width: 20em;">
        <label>password:</label>
        <input type="password" name="password" placeholder="reminder: stupid passwords do exist...">
        <!-- there is such thing as a stupid password -->
      </div>
      
      <button style="background-color: #002a5c; color: white;" class="ui button" type="submit">submit</button>

    </form>


  </div>




  <script>

    $("#first_name").focus(function() {

      var school_email = $('#school_email').val()

      if($("#first_name").val() == "" && $("#last_name").val() == ""){

        if (school_email.includes(".") && school_email.includes("mail.utoronto.ca")){
          // console.log('email:', school_email.)
          var li = school_email.split('@')[0].split('.')
          var first_name = li[0][0].toUpperCase() + li[0].slice(1)
          var last_name = li[1][0].toUpperCase() + li[1].slice(1)
          $("#first_name").val(first_name)
          $("#last_name").val(last_name)
          // $('#school_email_error').css("display", "none")

        }

      }

      // else if (school_email.includes("mail.utoronto.ca") === false) {
      //   $('#school_email_error').css("display", "block")
      // }

    });

  </script>


{% endblock %}



