{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>{% block title %} Rooms {% endblock %}</title>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <style>
      body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
    </style>


  </head>



  <body>

    {% include 'navbar.html' %}

  <!-- TODO:  -->
    <div class="ui centered grid container" style="padding: 0em;">

      <div class="sixteen wide column" style="padding-top: 1em; margin-left: -1em;">
        
        <h2 class="ui center aligned header">
          Welcome to <img src="{% static 'uoft_logo/uoft_logo.png' %}" style="width:9%;">'s Room!
          <!-- Welcome to Uoft's Room -->
        </h2>

      </div>
      

      <div class="seven wide column" style="margin-left: 5em;">

        <!-- <div class="ui basic segment">
          <h3>About:</h3>
          <p>
            Who's going to be in my CSC207 class this coming fall semester? Which students have done an internship at the 
            WWF organization? Any other people on campus listen to the 'Highway Robbery' band? When Facebook first started, 
            these were the types of questions one could easily find answers too. However, zuck (sorta) screwed it all up...
            This isn't necessarily a replica of the 2004 (the)facebook. And I'm not saying answers to the above questions 
            can't be found leveraging existing social tools (i'm not from the stone age even though the UI of this site might convince 
            you otherwise). I feel in general though, there (shockingly) doesn't really seem to me a medium on the web that allows
            one to create their online identity and browse through others in a localized community. Every social platform is 
            feels 'super-general' now... that's why I quickly created this as an experiment to see
            if people would join the party... who knows, I could be completely wrong and this is the most useless piece-of-shit 
            website you have ever seen and you absolutely never want to meet me (given the campus size and current state of the web (ahem), 
            that's very likely anyways) but hey, I'm willing to roll the dice. 
          </p>
        </div> -->

        
        <h3>Community Feed</h3>

        <div class="ui feed">

          <div class="event">
            <div class="label">
              <img src="{% static 'sample_images/image_four.jpeg' %}">
            </div>
            <div class="content">
              <div class="summary">
                <a class="user" href="{% url 'profile' %}">
                  Kevin Duport
                </a> just joined the room
                <!-- <div class="date">
                  1 Hour Ago
                </div> -->
              </div>
              <div class="meta">
                <!-- <a class="like">
                  <i class="like icon"></i> 4 Likes
                </a> -->
                <div class="date">
                  1 Hour Ago
                </div>
              </div>

            </div>
          </div>

          <div class="event">
            <div class="label">
              <img src="https://semantic-ui.com/images/avatar/small/matt.jpg">
            </div>
            <div class="content">
              <div class="summary">
                <a class="user" href="{% url 'profile' %}">
                  John Jackson
                </a> edited his profile
                <!-- <div class="date">
                  1 Hour Ago
                </div> -->
              </div>
              <div class="meta">
                <!-- <a class="like">
                  <i class="like icon"></i> 4 Likes
                </a> -->
                <div class="date">
                  1 Hour Ago
                </div>
              </div>

            </div>
          </div>

          <div class="event">
            <div class="label">
              <img src="https://semantic-ui.com/images/avatar/small/matt.jpg">
            </div>
            <div class="content">
              <div class="summary">
                <a class="user" href="{% url 'profile' %}">
                  Kevin Duport
                </a> just joined the room
                <!-- <div class="date">
                  1 Hour Ago
                </div> -->
              </div>
              <div class="meta">
                <!-- <a class="like">
                  <i class="like icon"></i> 4 Likes
                </a> -->
                <div class="date">
                  1 Hour Ago
                </div>
              </div>

            </div>
          </div>

          <div class="event">
            <div class="label">
              <img src="https://semantic-ui.com/images/avatar/small/matt.jpg">
            </div>
            <div class="content">
              <div class="summary">
                <a class="user" href="{% url 'profile' %}">
                  Kevin Duport
                </a> just joined the room
                <!-- <div class="date">
                  1 Hour Ago
                </div> -->
              </div>
              <div class="meta">
                <!-- <a class="like">
                  <i class="like icon"></i> 4 Likes
                </a> -->
                <div class="date">
                  1 Hour Ago
                </div>
              </div>

            </div>
          </div>


          <div class="event">
            <div class="label">
              <img src="https://semantic-ui.com/images/avatar/small/matt.jpg">
            </div>
            <div class="content">
              <div class="summary">
                <a class="user" href="{% url 'profile' %}">
                  Kevin Duport
                </a> just joined the room
                <!-- <div class="date">
                  1 Hour Ago
                </div> -->
              </div>
              <div class="meta">
                <!-- <a class="like">
                  <i class="like icon"></i> 4 Likes
                </a> -->
                <div class="date">
                  1 Hour Ago
                </div>
              </div>

            </div>
          </div>

          <div class="event">
            <div class="label">
              <img src="https://semantic-ui.com/images/avatar/small/matt.jpg">
            </div>
            <div class="content">
              <div class="summary">
                <a class="user" href="{% url 'profile' %}">
                  Kevin Duport
                </a> just joined the room
                <!-- <div class="date">
                  1 Hour Ago
                </div> -->
              </div>
              <div class="meta">
                <!-- <a class="like">
                  <i class="like icon"></i> 4 Likes
                </a> -->
                <div class="date">
                  1 Hour Ago
                </div>
              </div>

            </div>
          </div>


          <div class="event">
            <div class="label">
              <img src="https://semantic-ui.com/images/avatar/small/matt.jpg">
            </div>
            <div class="content">
              <div class="summary">
                <a class="user" href="{% url 'profile' %}">
                  Kevin Duport
                </a> just joined the room
                <!-- <div class="date">
                  1 Hour Ago
                </div> -->
              </div>
              <div class="meta">
                <!-- <a class="like">
                  <i class="like icon"></i> 4 Likes
                </a> -->
                <div class="date">
                  1 Hour Ago
                </div>
              </div>

            </div>
          </div>

     

        </div>

      </div>

      
      
      <div class="six wide column">

        <!-- <div>
          <a href="">Take me to a random student</a>
        </div> -->

        <!-- <div style="padding-top: 5px;">
          <a href="">See some random profile pictures?</a>
        </div> -->

        
        <h3>Student Breakdown</h3>
        <a href="" style="float: right;">Send an invite to your friend(s)</a>
        
        <h4>By Year:</h4>
        <ul class="ui list">
          <li>First Year: 10%</li>
          <li>Second Year: 10%</li>
          <li>Third Year: 10%</li>
          <li>Fourth Year: 10%</li>
          <li>Fifth+ Year (not judging whatsoever): 10%</li>
          <li>Alumni: 10%</li>
          <li>Dropout (ideally this is 0?): 10%</li>
        </ul>

        <h4>Single ready to mingle?:</h4>
        <ul class="ui list">
          <li>hell yeah: 25%</li>
          <li>hell nah: 20%</li>
        </ul>

        <h4>By Program:</h4>
        <ul class="ui list">
          <li>Computer Science: 10%</li>
          <li>Mathematics: 10%</li>
          <li>Computer Science: 10%</li>
          <li>Mathematics: 10%</li>
          <li>Computer Science: 10%</li>
        </ul>

      </div>


    </div>

    

  </body>


</html>



<!-- TODO: make it clean, experiment with icons, logo on top, symmetry, readability, 'essentially, actually showing/using this UI...' -->
  



