{% extends 'base.html' %}
{% load static %}



{% block content %}

  <div class="ui centered grid container" style="padding: 0em;">

    <div class="sixteen wide column" style="padding-top: 1.5em; margin-left: -1em;">
      
      <h2 class="ui center aligned header" style="
        padding-right: 1em; font-family: 'Indie Flower', cursive; font-size: 34px; color: #002a5c;">
        Welcome to <img src="{% static 'uoft_logo/uoft_logo.png' %}" style="width:8%;">'s Room!
      </h2>

    </div>
    

    <div class="seven wide column" style="margin-left: 5em; ">
      
      <h3>Community Feed</h3>

      <div class="ui feed">

        <div class="event">
          <div class="label">
            <img src="{% static 'sample_images/image_four.jpeg' %}">
          </div>
          <div class="content">
            <div class="summary">
              <a class="user" href="{% url 'profile' %}">
                Kevin Duport
              </a> just joined the room
            </div>
            <div class="meta">
              <div class="date">
                1 Hour Ago
              </div>
            </div>

          </div>
        </div>

        <div class="event">
          <div class="label">
            <img src="{% static 'sample_images/image_four.jpeg' %}">
          </div>
          <div class="content">
            <div class="summary">
              <a class="user" href="{% url 'profile' %}">
                Kevin Duport
              </a> just joined the room
            </div>
            <div class="meta">
              <div class="date">
                1 Hour Ago
              </div>
            </div>

          </div>
        </div>

        <div class="event">
          <div class="label">
            <img src="{% static 'sample_images/image_four.jpeg' %}">
          </div>
          <div class="content">
            <div class="summary">
              <a class="user" href="{% url 'profile' %}">
                Kevin Duport
              </a> just joined the room
            </div>
            <div class="meta">
              <div class="date">
                1 Hour Ago
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>

    
    <div class="six wide column">

      <!-- <div style="padding-top: 5px;">
        <a href="">See some random profile pictures?</a>
      </div> -->
      
      <h3>Student Breakdown</h3>
      
      <h4>By Country: (top-3)</h4>
      <ul class="ui list">
        <li>
          <a href=""><strong>Canada:</strong></a> 10%
        </li>
        <li>
          <a href=""><strong>China:</strong></a> 10%
        </li>
        <li>
          <a href=""><strong>India:</strong></a> 10%
        </li>
      </ul>

      <h4>By Year:</h4>
      <ul class="ui list">
        <li>
          <strong>First Year:</strong> 10%
        </li>
        <li>
          <strong>Second Year:</strong> 10%
        </li>
        <li>
          <strong>Third Year:</strong> 10%
        </li>
        <li>
          <strong>Fourth Year:</strong> 10%
        </li>
        <li>
          <strong>Fifth+ Year <i>(not judging whatsoever)</i>:</strong> 10%
        </li>
        <li>
          <strong>Alumni:</strong> 10%
        </li>
        <li>
          <strong>Dropout <i>(ideally this is 0?)</i>:</strong> 10%
        </li>
      </ul>

      <h4>Students single ready to mingle? (top-3):</h4>
      <ul class="ui list">
        <li>hell yeah: 25%</li>
        <li>hell nah: 20%</li>
        <li>hell yeah: 25%</li>
      </ul>

      <h4>By Program (top-3):</h4>
      <ul class="ui list">
        <li>Computer Science: 10%</li>
        <li>Mathematics: 10%</li>
        <li>Computer Science: 10%</li>
      </ul>

    </div>


  </div>



{% endblock %}





  



