{% load static %}



{% if request.user %}

  <div class="ui secondary pointing menu" id="main_menu">

    <a id="primary_logo" class="item" style="font-family: 'Indie Flower', cursive; font-size: 26px; padding:0;" href="{% url 'main' %}">
    &nbsp;Uoft's Room
    </a>

    <div class="right menu">
      
      <a id="feed_item" class="active item" href="{% url 'feed' %}">
        feed
      </a>
      <!-- <a class="disabled item">
        groups (soon)
      </a> -->    
      <a id="browse_item"  class="item" href="{% url 'browse' %}">
        browse
      </a>
      <a id="random_profile_item" class="disabled item" href="{% url 'profile' %}">
        random profile (TODO)
      </a>
      <a id="my_profile_item" class="item" href="{% url 'profile' %}">
        my profile
      </a>
      <!-- <a class="item">
        messages
      </a> -->
      <a id="faq_item" class="item" href="{% url 'faq' %}">
        faq
      </a>
      <a class="item">
        logout
      </a>

    </div>
    
    <div class="right menu">

      <div class="item">
        <a href="" >Send an invite to your friend(s)</a>
      </div>

    </div>

  </div>

{% else %}

  <div class="ui secondary pointing menu" id="main_menu">

    <a id="primary_logo" class="item" style="font-family: 'Indie Flower', cursive; font-size: 26px; padding:0; padding-left: 1em;" href="{% url 'landing' %}">
    &nbsp;Uoft's Room
    </a>

    <div class="right menu">

      <a class="item" href="{% url 'faq' %}">
        about
      </a>
      <a class="item" href="{% url 'user_auth' %}">
        signup or login
      </a>
          
    </div>
    
    <div class="right menu">

      <div class="item">
        <a href="" >Send an invite to your friend(s)</a>
      </div>

    </div>

  </div>


{% endif %}


<script>
  

  // $('#main_menu').on('click', '.item', function(e) {
  //   e.preventDefault();

  //   $(this)
  //     .addClass('active')
  //     .siblings('.item')
  //       .removeClass('active');
        
  //     // window.load($(this).attr("href"));
  //     window.location.href = $(this).attr("href");
        
  // });


  // $('.item').click(function(e){
  //   console.log('clicked menu')

  //   var parent_elem = $(this).parent()
  //   console.log('children:', parent_elem.children('.item'))
  //   var child_elements = parent_elem.children('.item')

  //   for (i=0; i <= child_elements.length-1; i++){
  //     var ce = child_elements[i]
  //     $(ce).removeClass('active')
      
  //   }

  //   $(this).addClass('active')


  // })

</script>










