{% load static %}

<!-- <div class="ui top attached menu">

  <div class="item">
    <img src="{% static 'logo/Rooms-logo.png' %}" >
  </div>


  <a class="active item">
    Home
  </a>
  <a class="item">
    Messages
  </a>
  <a class="item">
    Friends
  </a>

  <div class="right menu">
    <div class="ui right aligned category search item">
      <div class="ui transparent icon input">
        <input class="prompt" type="text" placeholder="Search animals...">
        <i class="search link icon"></i>
      </div>
      <div class="results"></div>
    </div>
  </div>

</div> -->


<!-- <div class="ui centered grid"> -->

  <div class="ui secondary pointing menu">

    <!-- <a class="item">
      <img src="{% static 'logo/Rooms-logo.png' %}" >
    </a>
   -->

   <!-- <img src="{% static 'logo/Rooms-logo.png' %}" width="60px" style="padding-left: 15px; padding-top: 4px;"> -->

    <div class="right menu" style="padding-left: 10em;">

      <a class="active item" href="{% url 'main' %}">
        home
      </a>
      <a class="disabled item">
        groups (soon)
      </a>
      <a class="item" href="{% url 'browse' %}">
        browse
      </a>
      <a class="item" href="{% url 'profile' %}">
        random profile
      </a>
      <a class="item" href="{% url 'profile' %}">
        my profile
      </a>
      <a class="item">
        messages
      </a>
      <a class="item" href="{% url 'faq' %}">
        faq
      </a>
      <a class="item">
        logout
      </a>
      
    </div>
    
    <div class="right menu">
  
      <div class="item">
        <a href="" style="padding-right: 1em;">Send an invite to your friend(s)</a>
        <!-- <div class="ui icon disabled input" style="width: 20em;">
          <input type="text" placeholder="search...">
          <i class="search icon"></i>
        </div> -->
      </div>
  
    </div>
  
  </div>


<!-- </div> -->






