{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="ui grid" style="padding-left: 8.5em; margin-top: 1.5em;">

  <div class="four wide column" style="margin-top: 1em;">
      
    <div class="container">
      
      {% if user_profile_images|length > 0 %}

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

        {% for di in user_profile_images %}

          <div class="mySlides">
            <div class="numbertext">{{ di.idx }} / {{ user_profile_images|length }}</div>
            <!-- <img src="{% static 'sample_images/image_three.jpeg' %}" width="280px" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;"> -->
            <!-- <img src="media/{{ di.profile_image.profile_image }}" width="280px" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;"> -->
          </div>

        {% endfor %}
        

      {% else %}
          
        <div class="mySlides">
          <!-- <img src="{% static 'sample_images/image_placeholder_three.png' %}" width="280px" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;"> -->
          <img src="https://ui-avatars.com/api/?name=?" width="280px" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
        </div>
        
        

      {% endif %}

    </div>


    <!-- <span style="font-weight: bold">
      To update the gender of the avatar-image, update your gender on the profile page
    </span> -->

    <div class="ui horizontal divider">
      <i class="edit icon"></i> Personal Settings
    </div>            
    <div>
        <ul>
          <li>
            <strong>
              Total Profile Views: 54
            </strong>
          </li>
          <li>
            <a href="">People who 'eyed' you</a>
          </li>
          <li>
            <a href="{% url 'edit_profile' %}">Edit Profile</a>
          </li>
          <li>
            <a href="{% url 'edit_profile' %}">Change profile picture</a>
          </li>

        </ul>
    </div>
 

    <div class="ui horizontal divider">
      <i class="pencil alternate icon"></i> Courses This Year
    </div>

    {% if user_profile_obj.current_school_status != "alumni" and user_profile_obj.current_school_status != "gap year" %}

      <div >
        <ul>
          {% for obj in user_courses %}
            <!-- <div class="item">
              {{ obj }}
            </div> -->
            <li>
              {{ obj }}
            </li>
          {% endfor %}
        </ul>
        
      </div>


    {% endif %}

  </div>



  <div class="ten wide column" style="padding-left: 3em;">
      
    <div>
      
      {% if user_profile_obj.first_name is not None %}

        <h2 class="ui header" style="display: inline-block; font-size: 27px;">
          {{ user_profile_obj.first_name }} {{ user_profile_obj.last_name }}
        </h2>
      
      {% else %}

        <h2 class="ui header" style="display: inline-block; font-size: 27px;">
          No Name (mysterious?)
        </h2>
      
      {% endif %}


      <div style="display: flex; justify-content: space-between; float: right; margin-top: 10px;">

        {% if same_user is False %}
          
          <span style="padding-right: 8px; padding-bottom: 10px;">
            <!-- <i id="eye_question_icon" class="question icon" style="font-size: 14.5px;" onclick="showModal()"></i>   -->
            <a id="eye_question_icon" onclick="showModal()">what's the eye for?</a>
          </span>
          
          <span id="eye_emoji" style="font-size: 25px; padding-right: 20px;" >
            &#128064;
          </span>

          <div class="ui blue vertical animated disabled button" tabindex="0" style="margin-top: -10px;">
            <div class="hidden content">slide?</div>
            <div class="visible content">
              <i class="paper plane icon"></i>
            </div>
          </div>
        
        {% else %}
          
          <button onclick="location.href='{% url "edit_profile" %}'" id="edit_profile_button" class="ui inverted blue vertical button" tabindex="0" style="margin-top: -10px;">
            Edit
          </button>

          <!-- <div id="msg_myself" class="ui blue vertical animated disabled button" tabindex="0" style="margin-top: -10px;">
            <div class="hidden content">lonely?</div>
            <div class="visible content" >
              send msg to me
            </div>
          </div> -->

        {% endif %}
        
      </div>

      <div class="ui mini modal">
        <div class="header">
          what's this eye for?
          <!-- <strong>
            <s>
            use at your own risk  
            </s>
          </strong> -->
        </div>
        <div class="content">
          <p style="font-size: 14.5px">
            all I know for now is when clicked, this will notify the person that you &#128064; them...             
            <span style="font-size: 20px">&#129335;</span>
            <!-- <br/><br/> -->
          </p>
        </div>
        <!-- <div class="actions">
          <div class="ui approve button">Approve</div>
          <div class="ui button">Neutral</div>
          <div class="ui cancel button">Cancel</div>
        </div> -->

      </div>


      <div>
        <span style="font-size: 14.5px;">
          <i class="instagram icon" style="font-size: 16px;">:</i>
          <!-- TODO: add link and format myself; like spotify (specify username in the field) -->
          {% if user_profile_obj.instagram_id is not None %}
            <a href="https://instagram.com/">
              {{ user_profile_obj.instagram_id }}
            </a>
          {% endif %}
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <span style="font-size: 14.5px;">
          <i class="snapchat ghost icon" style="font-size: 16px;">:</i>
          <!-- <i class="question icon" style="font-size: 16px;"></i> -->
          {% if user_profile_obj.snapchat_id is not None %}
            {{ user_profile_obj.snapchat_id }}
          {% endif %}
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <span style="font-size: 14.5px;">
          <i class="spotify icon" style="font-size: 16px;">:</i>
          {% if user_profile_obj.spotify_url is not None %}
            <a href="https://open.spotify.com/user/2uwyubwsy18et495hxmvherd2">
              {{ user_profile_obj.spotify_url }}
            </a>
          {% endif %}

        </span>
      
      </div>

      <!-- <div class="ui secondary pointing menu">

        <a class="item active">
          Posts
        </a>
        <a class="item">
          Profile
        </a>
  
      </div> -->

      <div class="ui tabular menu">
        
        <a class="item active" id="posts_tab">
          Main
        </a>
        <a class="item" id="profile_tab">
          Details
        </a>

      </div>


      <div id="tab_post_information">

          
        <!-- <div class="ui form">
          
          <div class="field">
            <label style="font-size: 14.5px;">Description:</label>
            <textarea name="user_description" form="profile_form" id="user_description" rows="2" placeholder="something you want other students to know about you?">{{ up_obj.user_description }}</textarea>
          </div>

        </div> -->

        <div style="padding-top: 4px;">

          <p>
            <strong style="font-size: 14.5px;">
              About Me:
            </strong>
            <span id="profile_field_value">
              {% if user_profile_obj.user_description is not none %}
                {{ user_profile_obj.user_description }}
              {% endif %}
            </span>
            
          </p>

          <p>
            <strong style="font-size: 14.5px;">
              School Status:
            </strong>
            <span id="profile_field_value">
              {% if user_profile_obj.current_school_status is not none %}
                {{ user_profile_obj.current_school_status|title }}
              {% endif %}
            </span>
          </p>

          {% if user_profile_obj.current_school_status != "alumni" and user_profile_obj.current_school_status != "gap year" %}
            <p>
              <strong style="font-size: 14.5px;">
                Year:
              </strong>              
              <span id="profile_field_value">
                {% if user_profile_obj.current_school_year is not none %}   
                  {{ user_profile_obj.current_school_year }}
                {% endif %}
              </span>
              
            </p>
                      
          {% endif %}

          <p>
            <strong style="font-size: 14.5px;">
              Concentration:
            </strong>
            <span id="profile_field_value">
              {{ user_majors }}
            </span>
          </p>

          <p>
            <strong style="font-size: 14.5px;">
              Looking to Mingle?
            </strong>
            <span id="profile_field_value">
              {% if user_profile_obj.user_relationship_status is not none %}   
                {{ user_profile_obj.user_relationship_status }}
              {% endif %}
            </span>
            
          </p>

          <p>
            <strong style="font-size: 14.5px;">
              Groups:
            </strong>
            <span id="profile_field_value">
              "bored, so created this", "uoftears", "basketball runs every friday at AC",
              "goldring > AC",  "kobe > lebron"
            </span>
          </p>



        </div>


        <!-- <div style="padding-top: 10px;">

          <p>
            <strong style="font-size: 14.5px;">
              Comments:
            </strong>
            
            &nbsp;&nbsp;
            <a href="">
              add a comment
            </a>

          </p>

        </div> -->

        <div class="ui comments">
          <h4 class="ui dividing header">
            Comments:
          </h4>
          
          <!-- <div class="comment">
            <a class="avatar">
              <img src="{% static 'sample_images/image_three.jpeg' %}">
            </a>
            <div class="content">
              <a class="author">Matt</a>
              <div class="metadata">
                <span class="date">Today at 5:42PM</span>
              </div>
              <div class="text">
                How artistic!
              </div>
              <div class="actions">
                <a class="reply">Reply</a>
              </div>
            </div>
          </div>

          <div class="comment">
            <a class="avatar">
              <img src="{% static 'sample_images/image_three.jpeg' %}">
            </a>
            <div class="content">
              <a class="author">Elliot Fu</a>
              <div class="metadata">
                <span class="date">Yesterday at 12:30AM</span>
              </div>
              <div class="text">
                <p>This has been very useful for my research. Thanks as well!</p>
              </div>
              <div class="actions">
                <a class="reply">Reply</a>
              </div>
            </div>

            <div class="comments">
              <div class="comment">
                <a class="avatar">
                  <img src="{% static 'sample_images/image_three.jpeg' %}">
                </a>
                <div class="content">
                  <a class="author">Jenny Hess</a>
                  <div class="metadata">
                    <span class="date">Just now</span>
                  </div>
                  <div class="text">
                    Elliot you are always so right :)
                  </div>
                  <div class="actions">
                    <a class="reply">Reply</a>
                  </div>
                </div>
              </div>
            </div> -->

          </div>


          <!-- <form class="ui reply form">
            <div class="field">
              <textarea style="width: 500px; height: 100px;"></textarea>
            </div>
            <div class="ui blue labeled submit icon button">
              <i class="icon edit"></i> add a comment
            </div>

          </form> -->

          
        </div>

      </div>

  
      <div id="tab_profile_information" style="display: none;">

          <!-- <div class="ui horizontal divider" >
            <i class="user icon"></i> Info
          </div> -->

          <div style="padding-top: 4px;">

            <p>
              <strong style="font-size: 14.5px;">
                Gender: 
              </strong>
              <span id="profile_field_value">
                {% if user_profile_obj.gender is not none %}
                  {{ user_profile_obj.gender|title }}
                {% endif %}
              </span>
              
            </p>

            <p>
              <strong style="font-size: 14.5px;">
                Email:
              </strong>
              <span id="profile_field_value">
                {{ request.user.email }}
              </span>              
            </p>

            <p>
              <strong style="font-size: 14.5px;">
                Where I'm from:
              </strong>
              <span id="profile_field_value">
                {% if user_profile_obj.user_location is not none %}
                  {{ user_profile_obj.user_location }}
                {% endif %}
              </span>
              
            </p>

            <!-- <p>
              <strong style="font-size: 14.5px;">
                Year:
              </strong>
              {{ user_profile_obj.current_school_year }}
            </p>

            <p>
              <strong style="font-size: 14.5px;">
                Studying:
              </strong>
              {{ user_majors }}
            </p> -->

            <!-- <p>
              <strong style="font-size: 14.5px;">
                Single looking to mingle?
              </strong>
              
              {{ user_profile_obj.user_relationship_status }}
            </p> -->

            <p>
              <strong style="font-size: 14.5px;">
                Campus:
              </strong> 
              {% if user_profile_obj.current_school_campus is not none %}
                {{ user_profile_obj.current_school_campus|title }}
              {% endif %}
            </p>  

            <p>
              <strong style="font-size: 14.5px;">
                College:
              </strong> 
              <span id="profile_field_value">
                {% if user_profile_obj.current_college is not none %}
                  {{ user_profile_obj.current_college|title }}
                {% endif %}
              </span>
              
            </p>  

            <p>
              <strong style="font-size: 14.5px;">
                Living on Res:
              </strong> 
              <span id="profile_field_value">
                {% if user_profile_obj.living_on_res is not none %}
                  {% if user_profile_obj.living_on_res is True %}
                    Yes
                  {% else %}
                    No
                  {% endif %}
                {% endif %}
              </span>
              
            </p>  

            
            <!-- <p>
              <strong style="font-size: 14.5px;">
                Description:
              </strong> 
            </p> -->

          </div>


          <div class="ui horizontal divider">
            <i class="user icon"></i> More
          </div>

          <div>

            <p>
              <strong style="font-size: 14.5px;">
                Jobs & Companies working/worked at: 
              </strong>
              <span id="profile_field_value">
                {% if user_profile_obj.job_companies is not none %}
                  {{ user_profile_obj.job_companies }}
                {% endif %}
              </span>
              
            </p>

            <p>
              <strong style="font-size: 14.5px;">
                Interests:
              </strong>
              <span id="profile_field_value">
                {% if user_profile_obj.job_companies is not none %}
                  {{ user_profile_obj.user_interests }}
                {% endif %}
              </span>
              
            </p>
          
          </div>
      

      </div>


    </div>


  </div>

  

</div>






  <script>



    let slideIndex = 1;
    // showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      console.log('len:', slides.length)
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
        console.log('idx:', i);
        console.log('sld:', slides[i]);
        slides[i].style.display = "none";
      }
      slides[slideIndex-1].style.display = "block";

      // document.getElementById('main_profile_image_upload').style.display = 'none'
      // document.getElementById('profile_image_upload').style.display = ''

    }


    showSlides(slideIndex);


   

    $('#eye_question_icon').click(function(event){
      event.preventDefault();
      $('.mini.modal').modal('show');
    })
    

    // TODO: eye functionality and the profile-viewing functionality 
    $('#eye_emoji').click(function(){
      // document.getElementById('eye_emoji_text').style.display = ''

    })


    
    $('#posts_tab').click(function(){
      $('#tab_post_information').show()
      $('#tab_profile_information').hide()
      $('#posts_tab').addClass('active')
      $('#profile_tab').removeClass('active')

    })

    $('#profile_tab').click(function(){
      $('#tab_post_information').hide()
      $('#tab_profile_information').show()
      $('#posts_tab').removeClass('active')
      $('#profile_tab').addClass('active')
    })



  </script>

  {% endblock %}



<!-- 
  TODO: 
    - add group's in profile
      - user can create his own or select from list <-- use select2
      - **think of other fun stuff we can do as well... 
    - test every field of profile (edit/remove/change) and ensure everything works well and correct profile-view is showing 
    - go from there... 
 -->

