{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>{% block title %} Rooms {% endblock %}</title>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

  </head>


  <!-- 
    TODO: 
    - menu, image (add arrows as well), profile-desc font-size, placement, icons, padding of profile/page.. 
  -->

  <body >

    {% include 'navbar.html' %}


    <div class="ui grid" style="padding-left: 8.5em; margin-top: 1.5em;">

      <div class="four wide column" style="margin-top: 1em;">
        <img src="{% static 'sample_images/image_three.jpeg' %}" width="280px" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
        
        <!-- <div style="text-align: center; font-size: 20px;">
          <i class="angle left icon"></i>
          <i class="angle right icon"></i>
        </div> -->


        <div class="ui horizontal divider">
          <i class="pencil alternate icon"></i> Courses This Year
        </div>

        <div>
                   
          <ul>
            <li>
              <a href="">
                CSC207F1
              </a>
            </li>
            <li>MAT135H1</li>
            <li>MAT2930Y1</li>
            <li>CBHA32</li>
          </ul>

        </div>


        <div class="ui horizontal divider">
          <i class="edit icon"></i> Personal Settings
        </div>        
        
        <div>
            <ul>
              <li>Total Profile Views: 54</li>
              <li>
                <a href="">People who 'eyed' you</a>
              </li>
              <li>
                <a href="">Edit Profile</a>
              </li>

            </ul>

        </div>


        
      </div>

      <div class="ten wide column" style="padding-left: 3em;">
        
        <div>

          <h2 class="ui header" style="display: inline-block; font-size: 27px;">
            Kevin Duport 
            <div class="ui teal horizontal label">Current Student</div>
          </h2>

          <div class="ui blue vertical animated button" tabindex="0" style="float: right;">            
            <div class="hidden content">slide?</div>
            <div class="visible content">
              <i class="paper plane icon"></i>
            </div>
          </div>
  
        </div>

        <div>
          <span style="font-size: 14.5px;">
            <i class="instagram icon" style="font-size: 16px;"></i>
            <a href="">kduport24</a>
          </span>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span style="font-size: 14.5px;">
            <i class="snapchat ghost icon" style="font-size: 16px;"></i>kduport24
          </span>
        </div>

        <div class="ui horizontal divider" >
          <i class="user icon"></i> Info
        </div>

        <div style="padding-top: 0px;">

          <p>
            <strong style="font-size: 14.5px;">
              Year:
            </strong> <a href="">1</a>
          </p>
          <p>
            <strong style="font-size: 14.5px;">
              Studying:
            </strong> <a href="">Math</a>, <a href="">Computer Science</a>
          </p>

          <p>
            <strong style="font-size: 14.5px;">
              Single looking to mingle?
            </strong>
            <a href="">whatever happens, happens...</a>
          </p>

          <p>
            <strong style="font-size: 14.5px;">
              Currently residing in:
            </strong>
             <a href="">Toronto</a>
          </p>

          <p>
            <strong style="font-size: 14.5px;">
              Where I'm from:
            </strong> 
            <a href="">Arizona</a>
          </p>
            
          <p>
            <strong style="font-size: 14.5px;">
              Living on Res:
            </strong> 
            <a href="">No</a>
          </p>  

          <!-- <p>
            <strong style="font-size: 14.5px;">
              Courses this year:
            </strong>
            <a href="">CSC207, MAT135, MAT2930, CBHA32, CSC207, MAT135, MAT2930, CBHA32</a>
          </p> -->

          <p>
            <strong style="font-size: 14.5px;">
              Student Clubs: 
            </strong>
          </p>

          <p>
            <strong style="font-size: 14.5px;">
              Description:
            </strong> 
            just here to see the vibes... reach out but don't feel offended if I don't respond. It's (probably) just me...
          </p>

        </div>


        <div class="ui horizontal divider">
          <i class="user icon"></i> More
        </div>

        <div>

          <p>
            <strong style="font-size: 14.5px;">
              Jobs & Companies worked at: 
            </strong>
             software
          </p>


          <p>
            <strong style="font-size: 14.5px;">
              Interests:
            </strong>
              basketball, gym, making things, science/technology/progress/change...you get it, aren't I interesting?
          </p>
          
          <p>
            <strong style="font-size: 14.5px;">
              Quotes:
            </strong>
            "buy the ticket, take the ride", "it's all a circus, but not everyone's the clown..."
          </p>

          <p>
            <strong style="font-size: 14.5px;">
              Music:
            </strong>
              mbnel, burna bandz, upcoming hiphop artists mainly from toronto
          </p>

          <p>
            <strong style="font-size: 14.5px;">
              Movies/Shows:
            </strong>
          </p>

          <p>
            <strong style="font-size: 14.5px;">
              Books:
            </strong>
              thinking as a science, skim through a bunch of different books on a whole bunch of everything
          </p>

        </div>

      </div>

    </div>


    <!-- <div class="ui grid" style="padding-left: 9em; ">

      <div class="four wide column" >

        <div class="ui horizontal divider">
          Courses
        </div>

        <div>
                   
          <ul>
            <li>CSC207F1</li>
            <li>MAT135H1</li>
            <li>MAT2930Y1</li>
            <li>CBHA32</li>
          </ul>

        </div>

      </div>


      <div class="ten wide column">

        <div class="ui horizontal divider">
          More
        </div>

        <div>

          <p>
            <strong style="font-size: 14.5px;">
              Jobs & Companies worked at: 
            </strong>
          </p>


          <p>
            <strong style="font-size: 14.5px;">
              Interests:
            </strong>
              basketball, gym, making things, science/technology/progress/change...you get it, aren't I interesting?
          </p>
          
          <p>
            <strong style="font-size: 14.5px;">
              Quotes:
            </strong>
            "buy the ticket, take the ride", "it's all a circus, be the clown, just not all the time..."
          </p>

          <p>
            <strong style="font-size: 14.5px;">
              Music:
            </strong>
              mbnel, burna bandz, upcoming hiphop artists mainly from toronto
          </p>

          <p>
            <strong style="font-size: 14.5px;">
              Movies/Shows:
            </strong>
          </p>

          <p>
            <strong style="font-size: 14.5px;">
              Books:
            </strong>
              thinking as a science, skim through a bunch of different books on a whole bunch of everything
          </p>

        </div>

      </div>

    </div> -->



  </body>


</html>








