{% extends 'base.html' %}
{% load static %}


{% block content %}

  <div class="ui grid" style="padding-left: 8.5em; margin-top: 1.5em;">

    <div class="four wide column" style="margin-top: 1em;">
      <!-- <img src="{% static 'sample_images/image_three.jpeg' %}" width="280px" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;"> -->
      <!-- <img id="profile_image_placeholder" src="//joeschmoe.io/api/v1/male/random" width="280px" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;"> -->
      <img id="profile_image_placeholder" src="{% static 'sample_images/image_three.jpeg' %}" width="280px" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;"> 

      <!-- <br/><br/>
      <span id="eye_emoji" style="float: left; font-size: 30px;">
        &#128064;
      </span> -->


      <div class="ui horizontal divider">
        <i class="edit icon"></i> Personal Settings
      </div>            
      <div>
          <ul>
            <li>Total Profile Views: 54</li>
            <li>
              <a href="">People who 'eyed' you</a>
            </li>
            <li>
              <a href="">Edit Profile</a>
            </li>

          </ul>
      </div>


      <div class="ui horizontal divider">
        <i class="pencil alternate icon"></i> Courses This Year
      </div>
      <div>
        <ul>
          <li>
            <a href="">
              CSC207F1
            </a>
          </li>
          <li>MAT135</li>
          <li>MAT2930</li>
          <li>CBHA32</li>
          <li>MAT157</li>
          <li>MAT257</li>
        </ul>
      </div>


    </div>

    <div class="ten wide column" style="padding-left: 3em;">
      
      <div>

        <h2 class="ui header" style="display: inline-block; font-size: 27px;">
          Kevin Duport 
          <div class="ui teal horizontal label">Current Student</div>          
        </h2>

        	
        <!-- <div style="float: right; margin-top: 10px;"> -->
        <div style="display: flex; justify-content: space-between; float: right; margin-top: 10px;">

          <span style="padding-right: 2px; padding-bottom: 10px;">
            <i id="eye_question_icon" class="question icon" style="font-size: 14.5px;" onclick="showModal()"></i>  
          </span>
          
          <span id="eye_emoji" style="font-size: 25px; padding-right: 20px;" >
            &#128064;
          </span>
          
          <span id="eye_emoji_text" style="font-size: 25px; padding-right: 20px; display: none;" >
            we have left Kevin know that you &#128064; them... (good luck)
          </span>
          

          <div class="ui blue vertical animated button" tabindex="0" style="margin-top: -10px;">
            <div class="hidden content">slide?</div>
            <div class="visible content">
              <i class="paper plane icon"></i>
            </div>
          </div>

        </div>

      </div>


      <div class="ui mini modal">
        <div class="header">
          what's this eye for?
          <strong>
            <s>
            use at your own risk
            </s>
          </strong>
        </div>
        <div class="content">
          <p style="font-size: 14.5px">
            all I know for now is when clicked, this will notify the person that you &#128064; them...             
            <span style="font-size: 20px">&#129335;</span>
            <!-- <br/><br/> -->
          </p>
        </div>
        <!-- <div class="actions">
          <div class="ui approve button">Approve</div>
          <div class="ui button">Neutral</div>
          <div class="ui cancel button">Cancel</div>
        </div> -->

      </div>

      <div>
        <span style="font-size: 14.5px;">
          <i class="instagram icon" style="font-size: 16px;"></i>
          kduport24
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span style="font-size: 14.5px;">
          <!-- <i class="snapchat ghost icon" style="font-size: 16px;"></i>kduport24 -->
          <!-- TODO: onclick of private, tell user to 'eye' the user and if they accept, user get's access -->
          <i class="snapchat ghost icon" style="font-size: 16px;"></i>
          <!-- <i class="question icon" style="font-size: 16px;"></i> -->
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span style="font-size: 14.5px;">
          <i class="spotify icon" style="font-size: 16px;"></i>
          <a href="https://open.spotify.com/user/2uwyubwsy18et495hxmvherd2">Spotify</a>
        </span>

      </div>

      <div class="ui horizontal divider" >
        <i class="user icon"></i> Info
      </div>

      <div style="padding-top: 0px;">

        <p>
          <strong style="font-size: 14.5px;">
            Gender:
          </strong> <a href="">Male</a>
        </p>
        
        <p>
          <strong style="font-size: 14.5px;">
            Year:
          </strong> <a href="">1</a>
        </p>
        <p>
          <strong style="font-size: 14.5px;">
            Studying:
          </strong> <a href="">Math</a>, <a href="">Computer Science</a>
        </p>

        <p>
          <strong style="font-size: 14.5px;">
            Single looking to mingle?
          </strong>
          <a href="">whatever happens, happens...</a>
        </p>

        <!-- <p>
          <strong style="font-size: 14.5px;">
            Currently residing in:
          </strong>
          <a href="">Toronto</a>
        </p> -->
        
        <p>
          <strong style="font-size: 14.5px;">
            Campus:
          </strong> 
          <a href="">St. George</a>
        </p>  

        <p>
          <strong style="font-size: 14.5px;">
            College:
          </strong> 
          <a href="">Trinity</a>
        </p>  

        <p>
          <strong style="font-size: 14.5px;">
            Living on Res:
          </strong> 
          <a href="">No</a>
        </p>  

        <p>
          <strong style="font-size: 14.5px;">
            Where I'm from:
          </strong> 
          <a href="">Arizona</a>
        </p>

        <!-- <p>
          <strong style="font-size: 14.5px;">
            Courses this year:
          </strong>
          <a href="">CSC207, MAT135, MAT2930, CBHA32, CSC207, MAT135, MAT2930, CBHA32</a>
        </p> -->

        <!-- <p>
          <strong style="font-size: 14.5px;">
            Student Clubs: 
          </strong>
        </p> -->

        <p>
          <strong style="font-size: 14.5px;">
            Description:
          </strong> 
          just here to see the vibes... reach out but don't feel offended if I don't respond. It's (probably) just me...
        </p>

      </div>


      <div class="ui horizontal divider">
        <i class="user icon"></i> More
      </div>

      <div>

        <p>
          <strong style="font-size: 14.5px;">
            Jobs & Companies worked at: 
          </strong>
          software
        </p>


        <p>
          <strong style="font-size: 14.5px;">
            Interests:
          </strong>
            basketball, gym, making things, science/technology/progress/change...you get it, aren't I interesting?
        </p>

        <p>
          <strong style="font-size: 14.5px;">
            Quotes:
          </strong>
          "buy the ticket, take the ride", "it's all a circus, but not everyone's the clown..."
        </p>
        
        <!-- <p>
          <strong style="font-size: 14.5px;">
            Quotes:
          </strong>
          "buy the ticket, take the ride", "it's all a circus, but not everyone's the clown..."
        </p>

        <p>
          <strong style="font-size: 14.5px;">
            Music:
          </strong>
            mbnel, burna bandz, upcoming hiphop artists mainly from toronto
        </p>

        <p>
          <strong style="font-size: 14.5px;">
            Movies/Shows:
          </strong>
        </p>

        <p>
          <strong style="font-size: 14.5px;">
            Books:
          </strong>
            thinking as a science, skim through a bunch of different books on a whole bunch of everything
        </p> -->

      </div>

    </div>

  </div>




  <script>

    function showModal(){
      $('.mini.modal').modal('show');
    }
    

    $('#eye_emoji').click(function(){
      
      // document.getElementById('eye_emoji_text').style.display = ''

    })
    

  </script>


{% endblock %}






