{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="ui grid" style="padding-left: 8.5em; margin-top: 1.5em;">

  <div class="four wide column" style="margin-top: 1em;">
      
    <div class="container">
  
      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>

      {% for di in user_profile_images %}

        <div class="mySlides">
          <div class="numbertext">{{ di.idx }} / {{ user_profile_images|length }}</div>
          <img src="{% static 'sample_images/image_three.jpeg' %}" width="280px" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">
          <!-- <img src="media/{{ di.profile_image.profile_image }}" width="280px" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;"> -->

        </div>

      {% endfor %}

    </div>

    <!-- <img id="profile_image_placeholder" src="//joeschmoe.io/api/v1/male/{{ user_info.first_name }}" width="280px" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;"> -->
    <!-- <img id="profile_image_placeholder" src="{% static 'sample_images/image_three.jpeg' %}" width="280px" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;">  -->

    <!-- <span style="font-weight: bold">
      To update the gender of the avatar-image, update your gender on the profile page
    </span> -->

    <div class="ui horizontal divider">
      <i class="edit icon"></i> Personal Settings
    </div>            
    <div>
        <ul>
          <li>
            <strong>
              Total Profile Views: 54
            </strong>
          </li>
          <li>
            <a href="">People who 'eyed' you</a>
          </li>
          <li>
            <a href="{% url 'edit_profile' %}">Edit Profile</a>
          </li>

        </ul>
    </div>
 

    <div class="ui horizontal divider">
      <i class="pencil alternate icon"></i> Courses This Year
    </div>
    <div class="ui bulleted list">
      <!-- TODO: add courses here... -->
      <!-- {% for obj in user_courses %}

      {% endfor %} -->
      
      <!-- TODO: make the course's clickable; will allow user to go to browse page and find other people taking this course -->
      <div class="item">CSC108</div>
      <div class="item">CSC148</div>
      <div class="item">CSC236</div>

    </div>

  </div>



  <div class="ten wide column" style="padding-left: 3em;">
      
    <div>
      
      {% if user_profile_obj.first_name is defined %}

        <h2 class="ui header" style="display: inline-block; font-size: 27px;">
          {{ user_profile_obj.first_name }} {{ user_profile_obj.last_name }}
          <!-- <div class="ui teal horizontal label">Current Student</div>           -->
        </h2>
      
      {% else %}

        <h2 class="ui header" style="display: inline-block; font-size: 27px;">
          No Name (mysterious?)
          <!-- <div class="ui teal horizontal label">Current Student</div>           -->
        </h2>
      
      {% endif %}


      <div style="display: flex; justify-content: space-between; float: right; margin-top: 10px;">

        {% if request.user.first_name != user_info.first_name %}
          
          <span style="padding-right: 8px; padding-bottom: 10px;">
            <!-- <i id="eye_question_icon" class="question icon" style="font-size: 14.5px;" onclick="showModal()"></i>   -->
            <a id="eye_question_icon" onclick="showModal()">what's the eye for?</a>
          </span>
          
          <span id="eye_emoji" style="font-size: 25px; padding-right: 20px;" >
            &#128064;
          </span>

          <div class="ui blue vertical animated disabled button" tabindex="0" style="margin-top: -10px;">
            <div class="hidden content">slide?</div>
            <div class="visible content">
              <i class="paper plane icon"></i>
            </div>
          </div>
        
        {% else %}
          
          <button onclick="location.href='{% url "edit_profile" %}'" id="edit_profile_button" class="ui inverted blue vertical button" tabindex="0" style="margin-top: -10px;">
            edit profile
          </button>

          <div id="msg_myself" class="ui blue vertical animated disabled button" tabindex="0" style="margin-top: -10px;">
            <div class="hidden content">lonely?</div>
            <div class="visible content" >
              <!-- <i class="paper plane icon"></i> -->
              send msg to me
            </div>
          </div>

        {% endif %}
        
      </div>

      <div class="ui mini modal">
        <div class="header">
          what's this eye for?
          <!-- <strong>
            <s>
            use at your own risk  
            </s>
          </strong> -->
        </div>
        <div class="content">
          <p style="font-size: 14.5px">
            all I know for now is when clicked, this will notify the person that you &#128064; them...             
            <span style="font-size: 20px">&#129335;</span>
            <!-- <br/><br/> -->
          </p>
        </div>
        <!-- <div class="actions">
          <div class="ui approve button">Approve</div>
          <div class="ui button">Neutral</div>
          <div class="ui cancel button">Cancel</div>
        </div> -->

      </div>


      <!-- TODO: add form and go from there -->

      <div class="ui mini form">
        <div class="two fields">
          <div class="field">
            <label>First Name</label>
            <input placeholder="First Name" type="text">
          </div>
          <div class="field">
            <label>Last Name</label>
            <input placeholder="Last Name" type="text">
          </div>
        </div>
        <div class="ui submit button">Submit</div>
      </div>

      <div>
        <span style="font-size: 14.5px;">
          <i class="instagram icon" style="font-size: 16px;">&nbsp;:</i>
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span style="font-size: 14.5px;">
          <!-- <i class="snapchat ghost icon" style="font-size: 16px;"></i>kduport24 -->
          <!-- TODO: onclick of private, tell user to 'eye' the user and if they accept, user get's access -->
          
          <i class="snapchat ghost icon" style="font-size: 16px;">&nbsp;:</i>


          <!-- <i class="question icon" style="font-size: 16px;"></i> -->
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- <span style="font-size: 14.5px;">
          <i class="spotify icon" style="font-size: 16px;">&nbsp;:</i>
          <a href="https://open.spotify.com/user/2uwyubwsy18et495hxmvherd2">Spotify</a>
        </span> -->
      
      </div>


      <!-- <div class="ui secondary pointing menu">

        <a class="item active">
          Posts
        </a>
        <a class="item">
          Profile
        </a>
  
      </div> -->

      <div class="ui tabular menu">
        
        <a class="item active" id="posts_tab">
          Main
        </a>
        <a class="item" id="profile_tab">
          Details
        </a>

      </div>


      <div id="tab_post_information">

        <!-- <div class="ui link card" style="width: 100%;">

          <div class="content">
            <i class="right floated like icon"></i>
            <i class="right floated star icon"></i>
            <div class="header">Acorn Status Update?</div>
            <div class="description">
              <p>
                Hi everyone, Is anyone still waiting for their grades to be released acorn?
              </p>
            </div>
          </div>
          <div class="extra content">
            <span class="left floated like">
              <i class="like icon"></i>
              Like
            </span>
            <span class="right floated star">
              <i class="comment outline icon"></i>
              3 Comments
            </span>
          </div>
    
        </div>


        <div class="ui link card" style="width: 100%;">

          <div class="content">
            <div class="header">Acorn Status Update?</div>
            <div class="description">
              <p>
                Hi everyone, Is anyone still waiting for their grades to be released acorn?
              </p>
            </div>
          </div>
          <div class="extra content">
            <span class="right floated star">
              <i class="comment outline icon"></i>
              3 Comments
            </span>
          </div>
    
        </div>


        <div class="ui link card" style="width: 100%;">

          <div class="content">
            <div class="header">Acorn Status Update?</div>
            <div class="description">
              <p>
                Hi everyone, Is anyone still waiting for their grades to be released acorn?
              </p>
            </div>
          </div>
          <div class="extra content">
            <span class="right floated star">
              <i class="comment outline icon"></i>
              3 Comments
            </span>
          </div>
    
        </div> -->


          
        <!-- <div class="ui form">
          
          <div class="field">
            <label style="font-size: 14.5px;">Description:</label>
            <textarea name="user_description" form="profile_form" id="user_description" rows="2" placeholder="something you want other students to know about you?">{{ up_obj.user_description }}</textarea>
          </div>

        </div> -->

        <div style="padding-top: 4px;">

          <p>
            <strong style="font-size: 14.5px;">
              Year:
            </strong>

            {% if user_profile_obj.current_school_year is not none %}   
              {{ user_profile_obj.current_school_year }}
            {% else %}              
            {% endif %}           
          </p>

          <p>
            <strong style="font-size: 14.5px;">
              Studying:
            </strong>
            {{ user_majors }}
 
          </p>

          <p>
            <strong style="font-size: 14.5px;">
              Looking to Mingle?
            </strong>
            
            {{ user_profile_obj.user_relationship_status }}
          </p>


          <p>
            <strong style="font-size: 14.5px;">
              About Me:
            </strong>
            
            <!-- <br/> -->

            It's hard to spend a fortune without noticing. 
            Someone with ordinary tastes would find it hard to blow through more than a few tens of thousands of dollars without thinking 
            "wow, I'm spending a lot of money." Whereas if you start trading derivatives, you can lose a million dollars 
            (as much as you want, really) in the blink of an eye.

          </p>

        </div>


        <!-- <div style="padding-top: 10px;">

          <p>
            <strong style="font-size: 14.5px;">
              Comments:
            </strong>
            
            &nbsp;&nbsp;
            <a href="">
              add a comment
            </a>

          </p>

        </div> -->

        <div class="ui comments">
          <h4 class="ui dividing header">
            Comments:
          </h4>
          
          <div class="comment">
            <a class="avatar">
              <img src="{% static 'sample_images/image_three.jpeg' %}">
            </a>
            <div class="content">
              <a class="author">Matt</a>
              <div class="metadata">
                <span class="date">Today at 5:42PM</span>
              </div>
              <div class="text">
                How artistic!
              </div>
              <div class="actions">
                <a class="reply">Reply</a>
              </div>
            </div>
          </div>

          <div class="comment">
            <a class="avatar">
              <img src="{% static 'sample_images/image_three.jpeg' %}">
            </a>
            <div class="content">
              <a class="author">Elliot Fu</a>
              <div class="metadata">
                <span class="date">Yesterday at 12:30AM</span>
              </div>
              <div class="text">
                <p>This has been very useful for my research. Thanks as well!</p>
              </div>
              <div class="actions">
                <a class="reply">Reply</a>
              </div>
            </div>

            <div class="comments">
              <div class="comment">
                <a class="avatar">
                  <img src="{% static 'sample_images/image_three.jpeg' %}">
                </a>
                <div class="content">
                  <a class="author">Jenny Hess</a>
                  <div class="metadata">
                    <span class="date">Just now</span>
                  </div>
                  <div class="text">
                    Elliot you are always so right :)
                  </div>
                  <div class="actions">
                    <a class="reply">Reply</a>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!-- <div class="comment">
            <a class="avatar">
              <img src="{% static 'sample_images/image_three.jpeg' %}">
            </a>
            <div class="content">
              <a class="author">Joe Henderson</a>
              <div class="metadata">
                <span class="date">5 days ago</span>
              </div>
              <div class="text">
                Dude, this is awesome. Thanks so much
              </div>
              <div class="actions">
                <a class="reply">Reply</a>
              </div>
            </div>
          </div> -->

          <form class="ui reply form">
            <div class="field">
              <textarea style="width: 500px; height: 100px;"></textarea>
            </div>
            <div class="ui blue labeled submit icon button">
              <i class="icon edit"></i> add a comment
            </div>

          </form>

        </div>





      </div>

  
      <div id="tab_profile_information" style="display: none;">

          <!-- <div class="ui horizontal divider" >
            <i class="user icon"></i> Info
          </div> -->

          <div style="padding-top: 4px;">

            <p>
              <strong style="font-size: 14.5px;">
                Gender: 
              </strong>
              {{ user_profile_obj.gender|title }}
            </p>

            <p>
              <strong style="font-size: 14.5px;">
                Email:
              </strong>
              {{ user_profile_obj.email }}
            </p>

            <!-- <p>
              <strong style="font-size: 14.5px;">
                Year:
              </strong>
              {{ user_profile_obj.current_school_year }}
            </p>

            <p>
              <strong style="font-size: 14.5px;">
                Studying:
              </strong>
              {{ user_majors }}
            </p> -->

            <!-- <p>
              <strong style="font-size: 14.5px;">
                Single looking to mingle?
              </strong>
              
              {{ user_profile_obj.user_relationship_status }}
            </p> -->

            <p>
              <strong style="font-size: 14.5px;">
                Campus:
              </strong> 
            </p>  

            <p>
              <strong style="font-size: 14.5px;">
                College:
              </strong> 
            </p>  

            <p>
              <strong style="font-size: 14.5px;">
                Living on Res:
              </strong> 
            </p>  

            <p>
              <strong style="font-size: 14.5px;">
                Where I'm from:
              </strong> 
            </p>
            
            <!-- <p>
              <strong style="font-size: 14.5px;">
                Description:
              </strong> 
            </p> -->

          </div>


          <div class="ui horizontal divider">
            <i class="user icon"></i> More
          </div>

          <div>

            <p>
              <strong style="font-size: 14.5px;">
                Jobs & Companies working/worked at: 
              </strong>
            </p>

            <p>
              <strong style="font-size: 14.5px;">
                Interests:
              </strong>
            </p>
          
          </div>
      

      </div>



      <!-- <div class="ui horizontal divider" >
        <i class="user icon"></i> Info
      </div>

      <div style="padding-top: 0px;">

        <p>
          <strong style="font-size: 14.5px;">
            Gender:
          </strong>
        </p>
        
        <p>
          <strong style="font-size: 14.5px;">
            Year:
          </strong>
        </p>
        <p>
          <strong style="font-size: 14.5px;">
            Studying:
          </strong>
        </p>

        <p>
          <strong style="font-size: 14.5px;">
            Single looking to mingle?
          </strong>
        </p>

        <p>
          <strong style="font-size: 14.5px;">
            Campus:
          </strong> 
        </p>  

        <p>
          <strong style="font-size: 14.5px;">
            College:
          </strong> 
        </p>  

        <p>
          <strong style="font-size: 14.5px;">
            Living on Res:
          </strong> 
        </p>  

        <p>
          <strong style="font-size: 14.5px;">
            Where I'm from:
          </strong> 
        </p>
        
        <p>
          <strong style="font-size: 14.5px;">
            Description:
          </strong> 
        </p>

      </div>


      <div class="ui horizontal divider">
        <i class="user icon"></i> More
      </div>

      <div>

        <p>
          <strong style="font-size: 14.5px;">
            Jobs & Companies worked at: 
          </strong>
        </p>

        <p>
          <strong style="font-size: 14.5px;">
            Interests:
          </strong>
        </p>
      
      </div>
       -->

    </div>


  </div>

  

</div>






  <script>



    let slideIndex = 1;
    // showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      console.log('len:', slides.length)
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
        console.log('idx:', i);
        console.log('sld:', slides[i]);
        slides[i].style.display = "none";
      }
      slides[slideIndex-1].style.display = "block";

      // document.getElementById('main_profile_image_upload').style.display = 'none'
      // document.getElementById('profile_image_upload').style.display = ''

    }


    showSlides(slideIndex);


   

    $('#eye_question_icon').click(function(event){
      event.preventDefault();
      $('.mini.modal').modal('show');
    })
    

    // TODO: eye functionality and the profile-viewing functionality 
    $('#eye_emoji').click(function(){
      // document.getElementById('eye_emoji_text').style.display = ''

    })


    
    $('#posts_tab').click(function(){
      $('#tab_post_information').show()
      $('#tab_profile_information').hide()
      $('#posts_tab').addClass('active')
      $('#profile_tab').removeClass('active')

    })

    $('#profile_tab').click(function(){
      $('#tab_post_information').hide()
      $('#tab_profile_information').show()
      $('#posts_tab').removeClass('active')
      $('#profile_tab').addClass('active')
    })



  </script>

  {% endblock %}


